[2016-04-07 02:55] jermainewang opened #2 "Gradient definition needed"
* [x] slice (only numpy version is needed)
* [x] power (both numpy, mxnet)
* [ ] split/concat (both numpy, mxnet)
* [x] minimum

[2016-04-10 06:04] wangg12 opened #3 "What does "Nature Caffe layer integration." mean in README?"
Why it is Caffe but MXNet?

[2016-04-12 21:44] tqchen commented on #3
It is MXNet :) The idea of having caffe is more about the incoming plan of being able to support caffe layers in mxnet symbolic execution as in torch. @jermainewang maybe we can change the wording

[2016-04-13 05:38] jermainewang commented on #3
Yep! This is the initial motivation, and we have achieved it by supporting MXNet symbols and adding Caffe layers as MXNet plugins.

[2016-04-13 05:54] #3 closed

[2016-04-21 07:11] HrWangChengdu commented on #2
* [ ] index (index a 2-d matrix by two rows),
example:
https://github.com/dmlc/minpy/blob/master/examples/cs231n/assignment2/cs231n/layers_hack_layer_level.py#L563
* [ ] maximum,
example:
https://github.com/dmlc/minpy/blob/master/examples/cs231n/assignment2/cs231n/layers_hack_layer_level.py#L566

[2016-04-21 15:54] tqchen commented on #2
maximum and power's gradient should been already added to mxnet

[2016-04-22 10:03] hotpxl commented on #2
@tqchen Saw that. Thanks!

[2016-04-26 02:53] hotpxl commented on #2
1. For `ufunc`s, we need to wrap several MXNet implementations into one Python function. Or we could use the most general form and do broadcasting in our code (less efficient for scalar cases).

1. MXNet lacks `==` operation offered by NumPy. It's a little complicated because it involves implicit type conversion. Now it totally falls back to NumPy.

We could also expose gradient functions in `REGI

[2016-04-27 04:25] ZihengJiang opened #5 "AttributeError when run lr.py"
When I try to run lr.py, it reports errors as below:

`Traceback (most recent call last):
  File "/usr/lib/python2.7/logging/__init__.py", line 859, in emit
    msg = self.format(record)
  File "/usr/lib/python2.7/logging/__init__.py", line 732, in format
    return fmt.format(record)
  File "/home/joe/Projects/minpy/python/minpy/utils/log.py", line 42, in format
    self._style._fmt = fmt
Attribu

[2016-04-27 09:26] hotpxl commented on #5
I installed MXNet from the original repo. It has all the new functions needed.

[2016-05-02 06:22] amirsani opened #6 "Installation?"
Just wondering how to install minpy.

Thanks,

Amir

[2016-05-02 07:48] ZihengJiang commented on #5
Yes, it works. Also, "self.style._fmt = fmt" in utils/log.py:42 will cause AttributeError, so I comment it.

[2016-05-02 07:48] #5 closed

[2016-05-02 15:49] wangg12 commented on #6
I install this by add it to python's path in code:
[code]
I don't know if there is any other way to install it.

[2016-05-02 16:25] amirsani commented on #6
Ok thanks! I'll try this.

[2016-05-02 16:25] #6 closed

[2016-05-04 03:58] hotpxl commented on #5
I added that line because then the fmt won't work in python3. could you add a version guard?

[2016-05-04 11:43] ZihengJiang commented on #5
@hotpxl OK

[2016-06-02 18:44] Piyush3dB opened #7 "Error import minpy"
Hello,

I get the following error.  Please see my log:

[code]

Any idea how I can fix it?  Thanks.

[2016-06-03 03:45] jermainewang commented on #7
The `enum` package is one of the dependency. Please try `pip install --user enum` and then run the code.

[2016-06-04 13:43] hotpxl commented on #7
I will add that to setup.py. Sorry for the inconvenience.

[2016-06-04 14:14] Piyush3dB commented on #7
It works now after instilling enum.  Thanks.

[2016-06-04 14:14] #7 closed

[2016-06-09 10:00] HrWangChengdu opened #8 "Context dis-alignment error"
I found minpy.numpy.zeros() could return a cpu mxnet.ndarray. If the gradient generated by grad_func() is gpu, then doing parameter updates would raise an context dis-alignment error.

[2016-06-19 01:48] GaiYu0 opened #9 "GPU parallel computation support and explicit GPU assigning"
I found minpy currently does not support multi-GPU parallel computation. Also, I cannot find minpy interfaces capable of explicitly assigning tasks to a specific GPU. I hope there could be something similar to the mxnet approach: ctx = mx.gpu(0), ctx=mx.gpu(1), etc.

[2016-06-19 01:56] GaiYu0 opened #10 "minpy.numpy.minimum auto gradient support"
I find that minpy.numpy.minimum does not support auto gradient although minpy.numpy.maximum does. An IPython demonstration of the issue is attached.

![image](https://cloud.githubusercontent.com/assets/17979843/16174736/e2b62444-3603-11e6-9734-2cd2ce8a597e.png)

[2016-06-19 02:06] jermainewang commented on #10
I have added the requirement in this issue #2 . @hotpxl could you please help on this? It won't be hard, you could just follow how `maximum` is added.

[2016-06-20 06:12] jermainewang commented on #8
This problem should be solved temporarily by 175fdf7190a0790e8ba21d2b541b397a6dc9f2a4. Current solution is when calling mxnet function, switch device to gpu(0). Need further control on how to specify gpu devices.

The changed code is here:
https://github.com/dmlc/minpy/commit/175fdf7190a0790e8ba21d2b541b397a6dc9f2a4#diff-beb8dcd0247a1965408a9e269722dba2R564

[2016-06-20 06:42] jermainewang commented on #10
Hi,

The gradient of minimum is added in 34791baa2c90cc10e1abf0685c4d73ae76393c26. Try following code:

[code]

It should output:
[code]

[2016-06-21 00:29] GaiYu0 commented on #10
Hi,

The code causes another error. I found that the type of x is
minpy.array.Number. The type of x._marked_for_bp is float.

Could you help? Thank you very much!

[image: Inline image 1]
[image: Inline image 2]

[2016-06-21 03:28] jermainewang commented on #10
Hi, your image is broken. Could you upload again? Or just copy/paste it in markdown?

[2016-06-21 06:29] GaiYu0 commented on #10
Hi, the screen shot is sent to the general channel of slack.

On Tue, Jun 21, 2016 at 11:28 AM, Minjie Wang <notifications@github.com>
wrote:

[2016-06-21 08:19] jermainewang commented on #10
The problem is caused by incorrect float inheritance implementation and was fixed in 0359f02f410cab458ad5829ada340210ab303f4b.

[2016-06-21 08:19] #10 closed

[2016-06-21 08:29] #8 closed

[2016-06-26 16:20] HrWangChengdu opened #11 "GPU broadcast fails"
Binary matrix operator, e.g.(20, 30) op (30), would fail in gpu policy (in running tests/test_broadcast.py) while code could work in cpu policy. Since Mxnet broadcast requires lhs.dim() == rhs.dim(), I need to add np.expand_dims(one-dim-matrix, axis=0) to pass.

I guess it's be a known issue. Just post it here in case we forget.

[2016-06-29 17:00] danst18 opened #12 "Installation error"
Hi,

I am getting the following error after running either `pip minpy install` or installing via `setup.py`.

Any idea what is the issue?

[code]

[2016-06-30 03:10] HrWangChengdu commented on #12
hi danst,

This undefined error happens at mxnet library, which Minpy package relies on.

Could you please pull and compile the latest MXNet?

Haoran

[2016-06-30 09:40] danst18 commented on #12
Thanks @HrWangChengdu, that fixed it.

I think it would make sense to add that information in the installation instructions, as now it seems that minpy doesn't have any extra dependency.

[2016-06-30 09:48] HrWangChengdu commented on #12
No problem :-)
@danst18 You may find more about installation here: https://minpy.readthedocs.io/en/latest/how-to/build.html.

[2016-06-30 09:48] #12 closed

[2016-07-02 23:27] jermainewang commented on #11
Hi haoran, did you update mxnet to the latest version? It should already be fixed.

[2016-07-17 12:12] jacklxc opened #14 "Error import minpy.numpy"
`Python 2.7.11 (v2.7.11:6d1b6a68f775, Dec  5 2015, 12:54:16)
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "minpy/numpy/__init__.py", line 19, in <module>
    _mod = Module(_old)
  File "minpy/numpy/mocking.py", line 43, in __init__
    mod

[2016-07-17 15:04] hotpxl commented on #14
Can you upgrade to the latest version of MXNet?

[2016-07-18 14:52] sxjscience commented on #11
I'll fix this tomorrow.

[2016-07-22 15:13] ZihengJiang commented on #14
@jacklxc Hi, if you met a problem like `opencv not found` when you install MXNet, you can try to set `USE_OPENCV = 0` at line 57 of config.mk, since you don't need `imbin` if you just want to use Minpy. This is just a workaround. Hope this helps.

[2016-07-22 15:17] ZihengJiang commented on #11
This issue should be fixed by the commit, should we close it? @HrWangChengdu @jermainewang

[2016-07-22 15:37] jacklxc commented on #14
In mxnet directory, I changed as you suggested and ran `make all`, but there is still an error : [lib/libmxnet.so] Error 1.

[2016-07-22 16:20] ZihengJiang commented on #14
@jacklxc Have you tried `make clean`? Could you paste the entire error log?

[2016-07-22 16:35] jacklxc commented on #14
@ZihengJiang Sorry, my bad. It works now. Does ignoring opencv do anything bad if I want to use mxnet later?

[2016-07-22 17:01] ZihengJiang commented on #14
@jacklxc Uh.. it will cause some functions about image processing cannot work property for sure although I'm not sure which part it is ( @hotpxl Do you know? ). If you want to use MXNet to process Computer Vision problems, maybe you still have to resolve this problem following other MXNet issues.

[2016-07-23 05:28] hotpxl commented on #14
OpenCV is used mainly for data loaders in MXNet (I think).
Updating MXNet might be a good choice.

[2016-07-25 10:04] #11 closed

[2016-08-14 13:50] amirsani opened #19 "How would I replace numpy with minpy in an import?"
I wanted to see if there was a speedup in using minpy for all numpy imports in a library such as statsmodels or sklearn. Aside from manually replacing the imports, is there an efficient way to do this?

Cheers,

Amir

[2016-08-14 14:00] lryta commented on #19
We don't have a tool for auto converting to MinPy for NumPy imports right now. You may have to do manually replacements.

By the way, we are still in active development and focus on improving compatibility. If you have any issues please let us know.

Thanks,
Larry

[2016-08-14 14:05] amirsani commented on #19
Thank you Larry,

I'll post any issues I have once I am fully using it within a week or so.

For reference, it seems that the following is a solution to the issue I raised:

import sys
import myreplacement
sys.modules["original"] = myreplacement

from here: http://stackoverflow.com/a/2887888

Best,

Amir

[2016-08-14 15:24] lryta commented on #19
Thanks Amir. Your suggestion is helpful for us.

[2016-08-14 15:30] amirsani commented on #19
No problem. If I come up with any others, I'll post them for you.

Best,

Amir

[2016-08-15 02:50] wellecks opened #20 "`Solver` accuracy check fails with small dataset"
The `check_accuracy` call in `Solver` throws a `ZeroDivisionError: float division by zero` when the training dataset has less than 1000 examples.

This is because a sub iterator is not used, and the `train_dataiter` hasn't been reset at the time `check_accuracy` is called.

[2016-08-15 02:58] #20 closed

[2016-08-15 03:08] #2 closed

[2016-08-15 17:20] #19 closed

[2016-08-17 08:30] jermainewang opened #23 "Version 0.2 Release Check List"
Writing down all things need to do for version 0.2. There are following main milestones:

cs231n course code & solution
----------
- [x] Allow running without GPU.
- [x] Course code & solution should be separated. Solution code will be put in another private repo.
- [x] Code clean on Assignment 2 (need more detailed checklist from @HrWangChengdu @sneakerkg )
- [x] Code clean on Assignment 3 (need

[2016-08-17 08:38] jermainewang commented on #23
@zzhang-cn @sneakerkg @hotpxl @HrWangChengdu @lryta @ZihengJiang
Please have a look. I hope everyone could take some tasks here.

[2016-08-17 08:59] lryta opened #24 "Simplify _match_shape"
The current _match_shape implementation is too complicated. Need to simplify the implementation.

[2016-08-17 09:21] lryta commented on #23
Please feel free to assign other tasks to me @jermainewang.

[2016-08-18 01:59] jermainewang commented on #23
@mli @tqchen could you have a look at these? Though the more document the better, I still hope we could avoid duplicate efforts here.

[2016-08-18 04:42] mli commented on #23
i don't have a good idea how to reduce the document duplications until mxnet/ndarray and minpy are merged. we may cross refer each other's documents, but it may confuse users.

i'm working on 1) docker/ami to easily launch jupyter to try the notebooks, 2) scripts to turn notebooks into mxnet.dmlc.ml. minpy may want to reuse these parts.

[2016-08-18 05:29] mli commented on #23
add the link for the ndarray notebook (github has problem to render it)

http://nbviewer.jupyter.org/github/dmlc/mxnet-notebooks/blob/master/python/basic/ndarray.ipynb

[2016-08-19 07:51] jermainewang commented on #23
Thanks @mli. @lryta @zzhang-cn @sneakerkg we should have a look at mu's example when writing the notebook example.

[2016-08-21 23:29] jermainewang commented on #9
This should be fixed by #16 and the example code is in https://github.com/dmlc/minpy/blob/master/tests/test_context.py
@ZihengJiang  please follow up with this if further issue is exposed.

[2016-08-24 16:24] lryta opened #32 "Review Context Related Doc"
@ZihengJiang , could you review these docs? Thanks!
http://minpy.readthedocs.io/en/latest/feature/context.html
http://minpy.readthedocs.io/en/latest/feature/diff_policy_context.html

[2016-08-25 03:37] ZihengJiang commented on #32
No problem. In `Difference Between Policy and Context`, I think context have no effect in `OnlyNumPyPolicy` policy, so this sentence maybe wrong: *If the policy sets to OnlyNumPyPolicy(), then MinPy will only use NumPy implementation. In this case, context setting **will affect** MinPy behavior.*

I'll add more details for the context doc today.

[2016-08-25 03:50] lryta commented on #32
Thanks Ziheng for catching the typo 👍 .

[2016-08-25 03:50] #32 closed

[2016-08-26 09:10] sneakerkg opened #33 "Assignment2 correctness check with numpy"
The commitid is 47586

Several differences found:
FullyConnectedNets:
1. In SGD+Momentum, velocity error is too huge for minpy version;
2.In RMSProp and Adam, cache error, v error, m error are too huge for minpy version;
However, the learning curve looks similar between numpy and minpy for those optimization methods;

ConvolutionNets:
1. Three-layer ConvNet: Initial loss (with regularization) is t

[2016-08-28 13:16] HrWangChengdu commented on #33
@sneakerkg Thx, tianjun. I've fixed most errors.
However, for three-layer convnet work, I haven't found the nan case or the side-effect of huge initial loss. Could you please show that for me?

[2016-09-05 01:54] #9 closed

[2016-09-08 02:12] #33 closed

[2016-09-13 00:41] mufeili opened #42 "Please compile with CUDA enabled"
I'm trying to run the Logistic regression tutorial from here: http://minpy.readthedocs.io/en/latest/get-started/logistic_regression.html on my mac pro and I met this problem. I am currently using a cpu version of MXNET on my laptop and I thought this should support cpu. You may find the error message below:

[2016-09-13 01:58] ZihengJiang commented on #42
Have you uncommented line 9 (`# set_context(gpu(0))`)?

[2016-09-14 00:16] mufeili commented on #42
No, I didn't. The code is basically what is available on the website, except I defined gaussian_cluster_generator directly in the file. See the code below:
`import minpy.numpy as np
import minpy.numpy.random as random
from minpy.core import grad_and_loss
# from examples.utils.data_utils import gaussian_cluster_generator as make_data
# from minpy.context import set_context, gpu

# Please uncomment

[2016-09-14 00:17] mufeili commented on #42
No, I didn't. The code is basically what is available on the website, except I defined gaussian_cluster_generator directly in the file. See the code below:

`import minpy.numpy as np
import minpy.numpy.random as random
from minpy.core import grad_and_loss
# from examples.utils.data_utils import gaussian_cluster_generator as make_data
# from minpy.context import set_context, gpu

# Please uncomment

[2016-09-14 00:56] jermainewang commented on #42
Hi,

I've run your code but didn't encounter your problem. But I find another problem. The `np.random.normal` will redirect to MXNet's implementation but it does not support `mu` and `sigma` to be arrays (only scalar is supported right now). This could be fixed once MXNet supports that. The thing is the data generation code is not that computation-intensive, so we usually wanna to do it in numpy.

[2016-09-14 02:09] mufeili commented on #42
Minjie, Thank you for your help!

I actually met two problems separately with the two ways you suggested:

- For the first method, I actually did try to copy your code completely from `data_utils.py` and placed it in the following directory: /Users/MufeiLi/mxnet/minpy/examples/utils， an error came up with

I doubt it was due to a circular dependency but did not find it out, so I tried to define ga

[2016-09-14 03:10] mufeili commented on #42
Update:

- I checked /anaconda/lib/python2.7/site-packages/minpy/__init__.py, and it is a blank file. I guess you've just modified the file and haven't updated it, so I copied the code directly into the file. A similar problem happened again that

  File "//anaconda/lib/python2.7/site-packages/minpy/__init__.py", line 5, in <module>
    from minpy.dispatch.policy import PreferMXNetPolicy, OnlyNumP

[2016-09-14 03:35] mufeili commented on #42
Minjie,

I installed minpy the day before yester with pip and updated it with pip install --upgrade minpy earlier today, and it still does not work.

Requirement already up-to-date: minpy in /anaconda/lib/python2.7/site-packages
Requirement already up-to-date: mxnet in /Users/MufeiLi/mxnet/python (from minpy)
Requirement already up-to-date: scipy in /anaconda/lib/python2.7/site-packages (from minp

[2016-09-14 04:13] jermainewang commented on #42
I see what happens. We've pushed quite a lot of changes this month and haven't push a new version to pip. I've just push a new version 0.1.7. Please use pip to upgrade and try again.

[2016-09-14 11:32] mufeili commented on #42
It works, thank you Minjie!

[2016-09-14 11:32] #42 closed

[2016-09-17 01:20] evan-sh opened #44 "AttributeError: type object 'NDArray' has no attribute 'reshape'"
Hi,
I encountered an error when importing minpy. And I checked that mxnet and minpy are up to date.
Thank you!

Traceback (most recent call last):
  File "LogisticRegressionTutorial.py", line 10, in <module>
    import minpy.numpy as np
  File "/Applications/anaconda/lib/python2.7/site-packages/minpy/numpy/__init__.py", line 18, in <module>
    _mod = Module(_old)
  File "/Applications/anaconda/li

[2016-09-17 02:00] lryta commented on #44
Could you try `import mxnet as mx` to see if mxnet is properly installed?

[2016-09-17 02:15] evan-sh commented on #44
Yes it runs through without errors

Python 2.7.12 |Anaconda custom (x86_64)| (default, Jul  2 2016, 17:43:17)
[GCC 4.2.1 (Based on Apple Inc. build 5658) (LLVM build 2336.11.00)] on darwin
Type "help", "copyright", "credits" or "license" for more information.
Anaconda is brought to you by Continuum Analytics.
Please check out: http://continuum.io/thanks and https://anaconda.org

[2016-09-17 02:18] jermainewang commented on #44
I see. The problem is our `setup.py`. It will download an old mxnet version by default (0.5a3). This version is too old and the reshape is not implemented in NDArray class. Thanks for the report and we will fix it in minute.

[2016-09-17 02:30] jermainewang commented on #44
One thing you could do is try `pip uninstall mxnet` to uninstall the old version fetched from pip. And after that reinstall `mxnet` from the `git clone`.

[2016-09-17 02:44] lryta commented on #44
@jermainewang Could we take `mxnet` out of the required section in setup? It is redundant, since we always need to clone mxnet repo and compile binaries (and specify a path to override the old mxnet). This will not affect Python's import mechanism.

[2016-09-17 02:47] lryta commented on #44
@evan-sh Also make sure you include `export PYTHONPATH=~/mxnet/python:$PYTHONPATH` in the last few lines of your .bashrc or .zshrc (depends on what shell you choose).

[2016-09-17 02:53] jermainewang commented on #44
I've just removed `mxnet` in the setup dependency. @evan-sh please do following:
[code]
This works on my machine. Please tell me if there are further questions.

[2016-09-17 02:58] jermainewang commented on #44
@lryta In the future, we should allow `pip install` with both minpy and mxnet. MXNet pip install could only have CPU support. GPU support requires building from git repo or using docker.

[2016-09-18 03:59] jermainewang commented on #44
@evan-sh what's the status?

[2016-09-18 14:30] evan-sh commented on #44
@jermainewang Sorry for the late reply. I uninstalled mxnet and minpy, and ran `git clone --recursive https://github.com/dmlc/mxnet`. Then when I do `cd mxnet; cp make/osx.mk ./config.mk; make -j$(sysctl -n hw.ncpu)`, terminal returns errors as follows

`cp: ./config.mk: Permission denied
mkdir: build/src: Permission denied
mkdir: build/src/c_api: Permission denied
make: *** [build/src/c_api/c_api

[2016-09-19 04:08] lryta commented on #44
@evan-sh You don't have write permission on mxnet folder. You could try these operations in your home folder, where you definitely have write permission.

[2016-09-21 22:19] evan-sh commented on #44
My issue is resolved. Thank you very much!

[2016-09-21 22:19] #44 closed

[2016-10-04 09:45] jacklxc commented on #14
How do I install mxnet into anaconda's python then? I am using anaconda's jupyter notebook. minpy is successfully installed by anaconda's pip, but since there is "opencv not found" problem by using anaconda's pip install mxnet, I am stuck. How can I build mxnet into anaconda's python by using the mxnet obtained from github? The default behavior should install mxnet to system's python.

[2016-10-04 09:51] lryta commented on #14
Currently you cannot install MXNet by pip. You can find more info at this [link](http://mxnet.io/how_to/build.html#building-on-ubuntu-debian)

[2016-10-04 09:55] jacklxc commented on #14
How can I build mxnet into anaconda's python by using the mxnet obtained from github? The default behavior should install mxnet to system's python.

[2016-10-04 10:00] lryta commented on #14
I recommend manually install the package. See [this](http://minpy.readthedocs.io/en/latest/get-started/install.html#setup-python-and-its-environment).

[2016-10-05 09:46] jacklxc opened #50 "dtype and bitwise_xor not well supported"
The original numpy package's dtype and bitwise_xor operation is not well supported.
minpy's numpy cannot find np.int32.
bitwise_xor prompts error saying that the operation is not safe.

[2016-10-05 09:47] jacklxc commented on #14
Problem solved by not using anaconda's jupyter notebook, but the original jupyter notebook

[2016-10-05 17:02] #14 closed

[2016-10-06 01:58] jermainewang commented on #23
Since we've finished all the checlist, closed.

[2016-10-06 01:58] #23 closed

[2016-10-06 05:30] sneakerkg opened #51 "Problem with concatenate"
NDArrayIter will have problem when need padding. The problem occurs at:
np.concatenate( (x[1][self.cursor:], x[1][:pad]), axis=0) for x in data_source

I've checked the shape of x[1][self.cursor:] and x[1][:pad], and the call of np.concatenate is the same with numpy. So I suppose there's bug in concatenate.

[2016-10-08 13:39] jacklxc opened #52 "Check failed: (lhs.shape()) == (rhs.shape()) operands shape mismatch"
I basically followed the style of vanilla RNN in http://minpy.readthedocs.io/en/latest/tutorial/rnn_tutorial/rnn_tutorial.html#vanilla-rnn .
I double checked the dimensions of matrices, but I'm still getting operands shape mismatch error. It seems the error comes from model.params['b'] and model.params['ba']. I ran the sample code and it worked but my code does not work.

[2016-10-08 13:40] jacklxc commented on #52
Sorry for bothering but I really have no idea how to solve this problem.
The log is below:

---------------------------------------------------------------------------
MXNetError                                Traceback (most recent call last)
<ipython-input-48-08581c8750ed> in <module>()
     21                 print_every=200)
     22 solver.init()
---> 23 solver.train()

/Users/lixiangci/minpy/

[2016-10-08 13:42] jacklxc commented on #52
If I set the shapes of model.params['b'] and model.params['ba'] to (1,), there won't be the same error anymore but there will be other error caused by this change.

[2016-10-08 13:51] jacklxc commented on #52
The code in my model's (vanillaRNN's) constructor is below:
[code]
N is the batch size

[2016-10-08 14:08] lryta commented on #52
Hi @jacklxc ,
I saw you were using legacy version of MXNet. For some reason, MXNet was going so fast that they didn't release a stable pip version for about two months. I suggest you to try git repo version of MXNet. Basically, you clone the repo, install all dependencies (which I believe you already did), and then add a something like `export PYTHONPATH=~/python_official/mxnet/python:$PYTHONPATH`

[2016-10-08 17:23] jacklxc commented on #52
Hi @lryta , I reinstalled the latest mxnet and minpy, but the problem still remains.

[2016-10-09 04:58] lryta commented on #52
Can you post your stack traceback?

[2016-10-09 06:11] jacklxc commented on #52
After some experiments, I found the RNN sample code provided in the blog cannot do batch_size=1 somehow. That's the reason of the bug.

[2016-10-09 06:42] lryta commented on #52
I set batch_size=1, but it worked fine on my side. Could you provide your error message (the stack traceback) so I could dig into it?

[2016-10-09 08:21] jacklxc commented on #52
I changed nothing but batch_size and when batch_size=1, it does not work. batch_size>1 is fine.
[code]
The error:
[code]

[2016-10-09 09:24] jacklxc commented on #52
Quick question, how do I run prediction after training? When I do model.forward(X,'test'), it prompts key error of 'Wh', which means params are all gone somehow. Surprisingly there is no example after training available either.

[2016-10-09 10:15] jacklxc commented on #52
Quick question, how do I run prediction function of the model after training? I tried model.forward(X,'test') but it complains key error of 'Wh'.

[2016-10-09 11:36] lryta commented on #52
I've located the problem. It is due to MXNet's python broadcast, which won't work in the case of (1,3) and (3). I will fix it.

[2016-10-09 11:41] jacklxc commented on #52
Another problem: The example code can train, but the accuracy is always 0. This causes that there is no best parameter stored.

[2016-10-09 11:46] lryta commented on #52
It won't save the best param, but I think the current param is always available in `solver.model.params`.

[2016-10-09 11:49] lryta commented on #52
You can check the solver code. It's just a simple solver without any tricks, as a template for others building their own solver.

[2016-10-09 11:49] jacklxc commented on #52
First, my observation is the train accuracy is always 0 in the example code.
Second, when I try to do model.forward(X,'test') after training, I found the model.params is an empty dictionary

[2016-10-09 11:51] jacklxc commented on #52
I am familiar with the solver in cs231n and indeed the two solvers are similar. However there is best_param that is based on the best accuracy in minpy's solver. However since the training accuracy is somehow always 0, there is no best_param. Therefore, model.params is empty.

[2016-10-09 11:59] lryta commented on #52
Adding problem is not a classification problem, thus there is not def. of accuracy. The validation should be loss. I will update it with my private ver. later.

[2016-10-09 12:20] lryta commented on #52
Broadcast problem have been fixed in nnvm branch of MXNet

[2016-10-09 12:26] jacklxc commented on #52
In order to apply the change you made, do I have to do `make clean` in mxnet directory? There is always opencv not found issue, which I need to manually fix it by changing the path everytime

[2016-10-09 12:28] lryta commented on #52
Sure.

[2016-10-09 15:29] jacklxc commented on #52
In model.forward() I have `max_word = np.argmax(p,axis = 1) `, which causes error `PrimitivePolicyError: Cannot find function with proper gradient implementation for : argmax() under policy: PreferMXNetPolicy.` How do I get mxnet style's policy?

[2016-10-09 15:31] jacklxc commented on #52
I tried `np.set_policy(policy.OnlyNumpyPolicy())` written in the sample code for cs231n assignment 3, but np.set_policy seems not being supported anymore.

[2016-10-10 12:44] GaiYu0 opened #53 "Minpy Convolution Padding Issue"
Hi,

I encounter an issue when using mxnet convolution symbol in minpy. In minpy/examples/basics/mxnet_convolution.py, I add pad=(1, 1) to the convolution symbol and get an mxnet error.

![image](https://cloud.githubusercontent.com/assets/17979843/19236490/4a59c2e8-8f2a-11e6-929b-1171e0a7e482.png)

[2016-10-12 03:48] jacklxc opened #54 "Minpy cannot be properly imported in PyCharm community edition"
[code]

[2016-10-12 03:49] jacklxc commented on #54
It seems PyCharm recognizes minpy package but there is an internal bug.

[2016-10-12 04:36] jermainewang commented on #54
What's the MXNet version?

[2016-10-12 04:38] jacklxc commented on #54
Should be the latest in mxnet master branch

[2016-10-12 04:42] jermainewang commented on #53
This seems because after adding the padding, the target shape changed. So the copy failed. You need to change the target shape accordingly. I suggest using the latest [`get_output_shapes`](https://github.com/dmlc/minpy/blob/master/minpy/core.py#L169) interface to infer the target shape for you. The usage is here: https://github.com/dmlc/minpy/blob/master/examples/nn/cnn.py#L47

@HrWangChengdu , co

[2016-10-12 04:45] jermainewang commented on #54
Could you try import mxnet in PyCharm and see whether `mxnet.ndarray.NDArray.reshape` is there?

[2016-10-12 11:53] #54 closed

[2016-10-12 11:54] lryta commented on #52
`np.set_policy` is still functional. You can check [this](http://minpy.readthedocs.io/en/latest/feature/policy.html) for more details.

[2016-10-12 11:54] #52 closed

[2016-10-12 15:15] HrWangChengdu commented on #53
@jermainewang No problem, I'll handle this

[2016-10-13 01:59] HrWangChengdu commented on #53
@GaiYu0 It's fixed now, please check again

[2016-10-13 10:50] lryta commented on #50
np.int32 is now available in np namespace.

[2016-10-13 10:50] #50 closed

[2016-10-13 10:54] GaiYu0 commented on #53
Sorry for the trouble. I should have read the code more carefully. Thanks!

[2016-10-13 10:54] #53 closed

[2016-10-13 12:01] lryta opened #56 "Generate default blacklist for Autoblacklistpolicy"
Hi @ZihengJiang ,

You can edit [this](https://github.com/dmlc/minpy/blob/master/minpy/numpy/__init__.py) to inject variables into np namespace. Thanks~

[2016-10-15 11:47] ZihengJiang commented on #56
Hi @lryta , how to enable BlackList while installation?  When I try to use AutoBlacklistPolicy, it will occur an error due to lack of rule configuration file. What's the file supposed to be?

[2016-10-16 05:03] lryta commented on #56
Here is a simple [example](https://github.com/dmlc/minpy/blob/master/tests/test_autoblacklist_policy.py). Note that `gen_rule=True` will trigger configuration saving when the program exits. By default, the flags are `gen_rule=False, append_rule=True`. Maybe better set `gen_rule=True` by default?

[2016-10-16 08:53] lryta commented on #56
@ZihengJiang Now I import all float, int, type, None objects in NumPy into minpy.numpy namespace. Should be easier now.

[2016-10-19 15:22] jacklxc opened #58 "import minpy.numpy error after git pull"
I did git pull just now, which updated the code you guys pushed recently. I got error message when I imported minpy.numpy
[code]

[2016-10-19 15:23] jacklxc commented on #58
It worked fine until I did git pull of both minpy and mxnet.

[2016-10-19 16:15] ZihengJiang commented on #58
try `pip install pyyaml`?

[2016-10-19 16:21] jacklxc commented on #58
Solved. Thanks.

[2016-10-19 16:23] #58 closed

[2016-10-19 20:24] ZihengJiang commented on #56
Thanks! @lryta

[2016-10-20 04:39] jacklxc opened #60 "Training time is very long when number of batch N is small."
I was translating my vanilla RNN from pure numpy implementation to minpy. The problem is for the same task, minpy version is significant slower than numpy version (approximately 60 times). Especially when number of batch N is small, the training is significantly slow. When I simply double the input data by doubling N, the training time remains the same, even deceases.

My code is in my repo Virtua

[2016-10-20 05:00] lryta commented on #60
@sneakerkg His repo is [here](https://github.com/jacklxc/Virtual-Rat) (in minpy branch)

[2016-10-20 05:04] sneakerkg commented on #60
@lryta Thanks for the info.
@ZihengJiang Is there example on how to use profiler?

[2016-10-21 02:18] #56 closed

[2016-10-21 03:14] ZihengJiang commented on #60
@sneakerkg see [this](https://github.com/dmlc/minpy/blob/master/tests/test_minprof.py) pls.

[2016-10-24 05:18] lryta commented on #51
@sneakerkg I wonder why we use `numpy` instead of `minpy.numpy` in `io.py`. With `minpy.numpy`, could `io` handle `MXNet` and `NumPy` automatically?

[2016-10-24 14:35] sneakerkg commented on #51
The basic reason is some of the OP used have different interface between numpy and minpy. I try to just replace the numpy op here with minpy, then there comes out some problem. Before this week's meeting, I'll try to look into what minpy op will cause problem and discuss with you guys.

[2016-10-25 14:02] desenzhou opened #62 "AttributeError: 'NoneType' object has no attribute 'add_partial_derivative'"
I am training a very simple network in cifar 10, the network contains 2 conv layers and 2 fully connected layers, received an Error, here is the report:

AttributeError                            Traceback (most recent call last)
<ipython-input-4-fe32ee0d6b69> in <module>()
     32 solver.init()
     33 # Train!
---> 34 solver.train()

/home/silvan/minpy/minpy/nn/solver.pyc in train(self)
    256

[2016-10-25 14:04] lryta commented on #62
Is it running on the latest MinPy?

[2016-10-25 14:24] zx0502 opened #63 "AttributeError: 'NoneType' object has no attribute 'add_partial_derivative'"
[code]

[2016-10-25 14:25] desenzhou commented on #62
yes, it's from the latest minpy...i did git pull and python setup.py build && python setup.py install

[2016-10-25 14:28] desenzhou opened #64 "TypeError: float() argument must be a string or a number"
It's from the latest Minpy...Another Error when training on cifar 10 with a very simple network...Here is the Error:

(Iteration 1 / 3828) loss: 2.301242
(Iteration 21 / 3828) loss: 2.293782
(Iteration 41 / 3828) loss: 2.288820
(Iteration 61 / 3828) loss: 2.277458
(Iteration 81 / 3828) loss: 2.259784
(Iteration 101 / 3828) loss: 2.246727
(Iteration 121 / 3828) loss: 2.239867
(Iteration 141 / 3828)

[2016-10-27 00:34] jermainewang commented on #64
Hi,

This should be fixed in f1a15fb22926ff1d0e3fa9f41e9e768925394064. Please check again. Thank you.

[2016-10-27 00:39] jermainewang commented on #63
@hotpxl could you have a look? It looks like some corner case with respect to auto-differentiation when using batch norm.

[2016-10-28 15:43] hotpxl commented on #63
I'll take a look.

[2016-11-03 17:52] jermainewang commented on #64
Is there still any problem?

[2016-11-07 06:25] lryta commented on #63
@zx0502 The issue is fixed.

[2016-11-07 06:25] #63 closed

[2016-11-11 03:35] sneakerkg commented on #60
@jacklxc After checking the code, I found the dimension of the RNN is very small (input_dim: 3, hid_dim: 5). Then in this case, the actual computation is very cheap, the time consuming is mainly on minpy's backend. To resolve this problem, we recommend rewrite the RNN using mx.sym. In this case, we will call much less wrap function.

[2016-11-11 03:41] jacklxc commented on #60
Thank you.

[2016-11-11 03:41] #60 closed

[2016-11-11 21:09] jermainewang commented on #64
Close due to no response.

[2016-11-11 21:09] #64 closed

[2016-11-11 21:27] jermainewang opened #73 "Proposal: Simplify array wrapping mechanism"
We know that array wrapping makes our python overhead a little bit awkward in small-scale network. Here I have some proposals to reduce some overhead.

1. **Remove `Number` class.** Currently, we use `Number` class to represent scalar values. We plan to support something like `np.zeros([128, np.prod(x.shape)])`. However, this is still not well-supported and there seems to be no good solution for t

[2016-11-11 21:27] jermainewang commented on #73
@lryta @hotpxl @ZihengJiang

[2016-11-14 03:11] jermainewang commented on #62
This should be fixed in #71

[2016-11-14 03:11] #62 closed

[2016-11-14 03:12] hotpxl commented on #73
The other reason we had `Number` was to let scalar values be on gradient path. Would this affect it?

[2016-11-14 16:13] jermainewang commented on #73
I don't think so. The value on the gradient path must be one of the inputs to the gradient function returned by `core.grad` or has dependencies to them. In either cases, they should be wrapped by `Value` structure.

[2016-11-14 16:18] lryta commented on #73
@jermainewang Sure, you are right. Another case is that if `a` and `b` are `numpy` arrays, in
[code]
the operator will run in `numpy` namespace. So we will leave this corner case, right?

[2016-11-15 03:19] hotpxl commented on #73
@jermainewang Makes sense. I'm good with removing `Number`.

[2016-11-15 03:40] lryta opened #77 "Code style refinement to solve pylint error"
@HrWangChengdu fixed pylint on travis. Could @hotpxl have a look at his Pylint options to check if the current configuration fits our project? (Do we need to turn on all the pylint options?)

After the confirmation of pylint options, we may distribute the work to fix the pylint error.

[2016-11-15 04:00] lryta commented on #73
Some questions here:
1. Does MXNet have a customized MXNet scaler type? Is it right that MXNet has no scaler value on GPU?
2. If no customized scaler type, is it due to the fact that copying scaler value to GPU is cheap?

[2016-11-15 08:21] lryta commented on #73
I still think it is better to keep wrapped numbers. Now we are using dictionary lookup to convert. Adding another wrapped class does not notably add extra time. The current malbehavior is due to the type support in MXNet, which cannot be solved elegantly on our side.

[2016-11-15 09:26] lryta commented on #73
We can even use the following inherited classes to represent numbers. The only incompatible operation is the `id` related operation, such as `a is 3`.  Use `_minpy_id` in internel cache_dict.

[code]

[2016-11-15 21:37] jermainewang commented on #73
Tuple and list are actually a big part in the overhead since you need to loop into them each time you wrap them. And loop in python is extremely slow. The lookup time is related to how large the dict is. That's why i'm quite concerned about adding new types in the dict look up. I think the argument is whether we would like to support things like `np.zeros([10, np.prod(x.shape)])`? I don't think pe

[2016-11-21 22:19] VoVAllen opened #78 "Does minpy support np.where and np.select currently?"
How can I know whether a np operator is supported now?

[2016-11-22 03:19] lryta commented on #78
Currently `np.where` and `np.select` are not supported for gradient calculation (you can still use them in other operations). You can check the coverage in [numpy_core](https://github.com/dmlc/minpy/blob/master/minpy/array_variants/numpy/numpy_core.py) and [mxnet_core](https://github.com/dmlc/minpy/blob/master/minpy/array_variants/mxnet/mxnet_core.py).

[2016-11-25 00:08] jermainewang commented on #77
I think some lint options are too strict. I'm modifying the lint check and turn off some unnecessary ones.

[2016-11-26 02:27] #78 closed

[2016-11-26 18:20] mufeili opened #80 "error: argument --data_dir is required"
Hi, I was trying to run the cnn tutorial and this error occurred. I thought I was expected to replace '--data_dir' with the directory where I downloaded the data so I replaced it with

[code]

But it still doesn't work:

[2016-11-26 21:35] HrWangChengdu commented on #80
This issue relates to the usage of argparse. I think you should keep the first argument as '--data_dir', and call "python cnn.py --data_dir=/path/to/cifar"

To run CNN in minpy, the most elegant way I know is to try examples under https://github.com/dmlc/minpy/tree/master/examples/nn. Do check https://github.com/dmlc/minpy/blob/master/examples/nn/README.md before running the example, where the pro

[2016-11-26 22:10] mufeili commented on #80
@HrWangChengdu

Thank you Haoran, this works in terminal. Is there a way to have this work as well in a Jupyter Notebook?

[2016-11-26 22:18] #80 closed

[2016-11-26 23:03] HrWangChengdu commented on #80
@mufeili
No problem. I guess "set_defaults()" is one solution, below is my sample code:
<img width="788" alt="screen shot 2016-11-26 at 6 01 31 pm" src="https://cloud.githubusercontent.com/assets/12106925/20644445/7e87d1f2-b402-11e6-9913-252cebe13289.png">

And you may refer more in https://docs.python.org/2/howto/argparse.html

[2016-11-26 23:58] mufeili commented on #80
@HrWangChengdu
Looks great, thank you!

[2016-11-27 03:31] zzhang-cn commented on #80
[image: Inline image 1]

On Sun, Nov 27, 2016 at 2:20 AM, Mufei Li <notifications@github.com> wrote:

--

*Zheng Zhang <https://shanghai.nyu.edu/academics/faculty/zheng-zhang> 张峥*

Professor of Computer Science, NYU  Shanghai 上海纽约大学计算机系教授

Room 1118, 1555 Century Avenue

Pudong New District, Shanghai 200122, China

中国上海市浦东新区世纪大道1555号1118室, 200122

T Shanghai office 上海办公室 +86 021 2059 5687
T China

[2016-11-27 04:48] shadowleaves opened #82 "binary addition problem implementation"
I've implemented the binary addition problem described in Prof Hinton's online course using MinPy's RNN framework, primarily based on Peter Roelants' code (http://peterroelants.github.io/posts/rnn_implementation_part02/).

A few underlying functions need to be modified to match Peter's implementation. if anyone is interested, I can spend some time on adding pull requests for the example part.

cod

[2016-11-27 07:54] lryta commented on #82
MinPy's overhead dominated in your case. I looked into your code and found the network you were using was very small (`hidden=3` for example). In this case, the constant overhead would be significant.

We were working on refactoring MinPy's autograd using C++'s native code and merged some part of MinPy back into MXNet main project as rich-featured vector tool (or namely, imperative subsystem). We

[2016-11-27 15:45] shadowleaves commented on #82
ok thanks that makes a lot of sense.

[2016-11-28 05:54] jermainewang commented on #77
Here are the lint error categories:
- invalid-name
- missing-docstring
- empty-docstring
- unidiomatic-typecheck
- line-to-long
- trailing-whitespace
- trailing-newlines
- multiple-statements (on single line)
- bad-whitespace
- bad-continuation
- multiple-imports
- wrong-import-order
- wrong-import-position
- no-self-argument
- import-error
- undefined-variable
- no-member
- dangerous-default-valu

[2016-11-28 05:59] lryta commented on #77
I agree with your proposal @jermainewang

[2016-11-28 16:06] HrWangChengdu commented on #77
I agree @jermainewang . I suggest we start working in this rule and give feedbacks if other exceptions are found to be necessary later.

[2016-11-28 17:18] hotpxl commented on #77
I agree. Mandatory checks may be less strict but we could still *recommend* more strict checks for developers.

[2016-11-28 17:48] hotpxl commented on #77
I encountered this (http://stackoverflow.com/questions/20553551/how-do-i-get-pylint-to-recognize-numpy-members) problem while working on lint errors. Could you please add that to whitelist if you are going to change the settings?

[2016-11-29 13:14] zx0502 opened #83 "TypeError: _sum_grad() got an unexpected keyword argument 'keepdims'"
[code]

[2016-11-29 14:00] lryta commented on #83
Bug fixed. Thanks for your support.

[2016-11-29 14:00] #83 closed

[2016-11-30 05:36] #82 closed

[2016-12-03 11:14] zx0502 opened #91 "LSTM_Captioning using minpy: memory issue"
I implement an LSTM captioning which can be found in https://github.com/zx0502/cs231-homework-with-MinPy/blob/master/LSTM_Captioning_minpy_ans.ipynb,  based on the  codes in https://github.com/lryta/cs231n-winter2016-sol-minpy/tree/master/assignment3.
It appears that minpy version is very memory consuming, taking over 7GB (only 8GB available in my PC). In contrast, numpy version costs less than 1.

[2016-12-03 14:58] jermainewang opened #93 "Policy mechanism"
As mentioned in #86 #90 #92 , there are several discussions about how to support the policy switch.

I think the principle is **not to have policy switch during runtime**. We could have some static switch like `MINPY_POLICY=AUTO_BLACKLIST python some_minpy_program.py`. The change will include:

1. Remove `set_global_policy` API. Policy choose could only be specified through environment.
1. Policy

[2016-12-03 15:02] ZihengJiang commented on #93
Agree. BTW, should PreferMXNetPolicy utilize the black list information?

[2016-12-03 15:05] jermainewang commented on #93
I think so. Another question is whether we allow different policies for different modules (e.g. `numpy` and `numpy.random`). My suggestion is to disallow this. @lryta ?

[2016-12-03 15:17] jermainewang commented on #91
The overflow is due to the gradient definition of `tanh` (`g / np.cosh(x) ** 2`). It seems that the divisor is too small which leads to numerical overflow. Let me see whether I could implement it in a more stable way. Thanks for the reporting!

For memory issue, @hotpxl  could you have a look. I remember there is some weak reference problem in the autograd part before.

[2016-12-03 16:46] lryta commented on #93
We already have a working mechanism of policy system. I think we may just keep it. I've fixed the bug that prohibits policy switching. Therefore, we are good now.

For allowing different policies for different modules, I think current solution is viable, since our major API globally changes policy. If they find our internal API that changes policies of individual modules, I think that's ok. They c

[2016-12-03 17:01] jermainewang commented on #93
The problem is it leaves more questions than before. It is undefined behavior if we have two policy objects, if the policy is changed during runtime. I think leaving these issues for future is dangerous. This restriction in fact gets rid of these questions once for all since these situations cannot happen at all. It is hard to fix "everything" since the more complicated the rule is, the more cover

[2016-12-03 17:35] lryta commented on #93
@jermainewang Multiple policy objects won't cause any problem. I ensure singleton in stateful policy.

[2016-12-03 17:43] jermainewang commented on #93
[code]
The interface gives users the idea that they have different internal states. However, in current implementation, they are not, which is weird. In fact, creating policy object is weird. What if
[code]
Should their reports be the same or not? The interface looks like they should *not* be the same, but in fact they should.

[2016-12-03 17:46] jermainewang commented on #93
And changing global variable throughout the code is dangerous. If somebody have:
[code]

[2016-12-08 18:10] #51 closed

[2016-12-11 17:38] sneakerkg commented on #91
Similar issue detected in the rnn perf test. Please check the code: https://github.com/dmlc/minpy/blob/rnn_perf/examples/nn/rnn_test/rnn_minpy_perf.py (you should copy the file to examples/nn folder to run)

I did some math on how much memory should we use:
Input： 256, Hidden: 2560, Out: 1, seq_len: 30, batch_size: 100

Weights:
Wx = 256 * 2560 * 4 / 1024 / 1024 = 2.5M
b = 2560 * 4 / 1024 / 1024 =

[2016-12-13 17:39] ZihengJiang opened #104 "side effect brought by some expressions"
As you can see in the comment of the script below, I found some expressions which should have no side effect in general programming will cause errors in MinPy. And I'm trying to debug it, if you have any suggestion, feel free to comment.

this script is adapted from [rnn_mnist.ipynb](https://minpy.readthedocs.io/en/latest/tutorial/rnn_mnist.html)

[code]

Error1:
[code]

Error2:
[code]

[2016-12-15 21:40] jermainewang commented on #104
What is the error?

[2016-12-21 06:13] jermainewang commented on #104
Any updates on this issue?

[2016-12-21 20:53] HrWangChengdu opened #113 "Broadcast issue"
I'm trying to run examples/nn/cnn.py to build travis performance test.

The error "mxnet.base.MXNetError: [15:36:05] src/operator/tensor/../elemwise_op_common.h:54: Incompatible attr in node  at 1-th input: expected (128,512), got (512,)" happens when doing affine(), i.e. np.dot(x, w) + b. Here (128, 512) is the dims for np.dot(x, w) while (512) is the dim for b.

MXNet would do automatically broa

[2016-12-22 16:05] ZihengJiang commented on #104
sorry for the late reply, kind of busy with my exams recently...

I've changed `h0` from params to normal tensor, but the same error occurs still.

[code]

[2016-12-22 16:11] lryta commented on #113
@HrWangChengdu I can run `cnn.py` without any issue. I guess your MXNet is installed properly.

[2016-12-22 16:12] lryta commented on #113
@HrWangChengdu By the way, include `cnn.py` in travis is important, since I find some bugs currently can only be revealed by files in `example` folder.

[2016-12-22 16:45] lryta commented on #113
It works in `a439e0547c2fab513b465d1a421a87d66e74b3eb` commit of NNVM MXNet. @jermainewang @HrWangChengdu

[2016-12-22 16:48] sneakerkg opened #114 "Problem in RNN example"
I try to reproduce RNN training in minpy compared with MXNet, but can't get the same curve.
When trying to dig in, I print dw in nn/optim.py, then finding out a problem:
w and dw should both be array with the same shape, however, in this case, sometimes dw is a Number. And if dw is a Number, it is always 0. All the bias in this example is the case, thus it's not training. And the Wh (hidden to hid

[2016-12-23 07:32] HrWangChengdu commented on #113
It doesn't work in 16032a97401239c00b7e673cdeb2c0f802a342a3. @lryta

[2016-12-23 07:36] HrWangChengdu commented on #113
Doesn't work in 404326b126d566882891e3f812d4b9deb3d81ab3.

[2016-12-23 14:33] HrWangChengdu commented on #113
Doesn't work in 5f247d2334093bd72e09768c4ec64d1cbd94ff84.

[2016-12-23 20:34] jermainewang commented on #113
@piiswrong

[2016-12-23 22:56] HrWangChengdu commented on #113
Broadcast misses in this commit https://github.com/dmlc/mxnet/commit/16032a97401239c00b7e673cdeb2c0f802a342a3. @piiswrong

[2016-12-27 16:07] lryta commented on #114
Hi @sneakerkg , I tried `rnn.py` under `example` folder (I did slightly update it though).

1. `dw` and `w` should agree in shape and they do agree.
2. In `rnn.py`, `num_classes` is 1. This explains why scaler comes out. However, I didn't observe they were nils.

[2016-12-29 09:54] DingkunLong opened #116 "broadcast issue"
for the recurrent neural network, when the train label size be (batch_ize,5), it occurs the problem:
[code]

[2016-12-29 14:54] #114 closed

[2016-12-29 19:26] jermainewang commented on #113
@HrWangChengdu is this working right now?

[2016-12-29 23:11] HrWangChengdu commented on #113
@jermainewang The issue is fixed now.

[2016-12-29 23:11] #113 closed

[2016-12-29 23:12] HrWangChengdu commented on #116
@DingkunLong Could you please pull latest nnvm branch of mxnet and re-compile mxnet again? We have fixed this broadcast error.

[2017-01-02 15:17] #116 closed

[2017-01-10 16:33] rorschachhb opened #118 "minpy.numpy import error"
Hi. I tried to import minpy.numpy, and python raised the following error:
[code]

Does it mean that something is called before it's registered?

I printed `name`, `ptype` and `return self._reg[name]`, the last few lines of output is like:
[code]

I'm using minpy 0.2.6 and mxnet 962271410059156180ab1d5e79b805e687512be9.
How can I solve this problem?

[2017-01-10 18:22] jermainewang commented on #118
Hi, could you try pull the `engine` branch on MXNet, rebuild and try again? We recently fixed many dependency bugs related to MXNet. The commit is out-dated and we've updated the README just now. Would you mind try again? Thanks.

[2017-01-10 18:24] jermainewang commented on #93
This temporarily achieved by changes in #117

[2017-01-10 18:25] jermainewang commented on #91
This should been solved in #112 #117 .

[2017-01-10 18:25] #91 closed

[2017-01-10 18:25] jermainewang commented on #77
Solved.

[2017-01-10 18:25] #77 closed

[2017-01-11 03:12] rorschachhb commented on #118
I checkout to engine branch on MXNet, rebuild it, but the error is still the same.

I printed `name`, `ptype` and `self._reg[name]`, the last few lines of output is a bit different:
[code]

[2017-01-11 03:23] lryta commented on #118
@rorschachhb Did you update the submodules when you switch branch? (For example, `git submodule update`)

[2017-01-11 03:44] rorschachhb commented on #118
I did. The submodules I use are:
dmlc-core @ f789458
mshadow @ 0997237
nnvm @ 288d06c
ps-lite @ 5ac4af0

I noticed that the dmlc-core versions in MXNet engine branch and minpy are different, could that be a problem?

[2017-01-11 04:15] lryta commented on #118
@rorschachhb I tried your setting, and it worked out fine on my side. Have you previously installed MXNet? It looks like your error message is caused by using an old MXNet version (where `tanh` haven't been implemented). If you installed it before, it is possible that you are still using the old MXNet somehow.

[2017-01-11 04:17] jermainewang commented on #118
Like what @lryta said, could you try in python REPL
[code]
to see what happens?

[2017-01-11 08:24] rorschachhb commented on #118
I created a new virtualenv and installed mxnet and minpy, everything is ok now. So I guess there's some  corrupted packages in my old virtualenv. Thanks for the help! @jermainewang @lryta

[2017-01-11 10:19] rorschachhb commented on #118
Update:

I found a strange problem. When I run `python setup.py install` to install mxnet, sometimes it creates `dist/mxnet-0.9.1-py2.7-linux-x86_64.egg`, sometimes it's `dist/mxnet-0.9.1-py2.7.egg`. When `dist/mxnet-0.9.1-py2.7.egg` is created, everything is ok. But if it's `dist/mxnet-0.9.1-py2.7-linux-x86_64.egg`, the import error above will be raised.

I did some test and found out that if I i

[2017-01-11 17:03] jermainewang commented on #118
Thanks for the report! @phunterlau is this problem happened before?

[2017-01-11 20:08] phunterlau commented on #118
@rorschachhb do you have multiple `python` installed on the system? e.g. system's `python` and `anaconda` python? Please use a consistent python env, e.g. a standalone virtualenv, otherwise `python setup.py install` might confuse.

[2017-01-12 00:54] rorschachhb commented on #118
@phunterlau I always install mxnet and minpy in virtualenv. I tried several times to 1) create a brand new virtualenv, 2) install mxnet, minpy and other packages in the virtualenv, 3) run `import minpy.numpy`. As long as I install mxnet before other conflicting packages, I can import minpy.numpy without raising error.

[2017-01-12 21:34] lryta opened #119 "Questions of Visualization Code"
This issue serves as a communication protocol.

[2017-01-12 21:42] lryta commented on #119
@mufeili Have you touched any files starting by "Generated by the protocol buffer compiler"?

[2017-01-13 21:33] mufeili commented on #119
@lryta No. I generated them from corresponding .proto files via terminal.

[2017-01-15 05:26] #118 closed

[2017-01-15 23:46] wellecks opened #120 "Key error in tape.py after upgrade"
Hi all, I'm working on a new reinforcement learning example with MinPy. Training was working fine on commit bc2e64fd3ed9f331e0e841abda743c8b42e72d50 (version 0.2.5). After installing from the latest repo (https://github.com/dmlc/minpy/commit/fcb6e8aa21eddb232cc2179b38187f33019102d0), I now see this error when calling `core.grad_and_loss`:

[code]

[code]

Perhaps [this commit](https://github.com/d

[2017-01-16 01:04] lryta commented on #120
Hi Sean, just to make sure, did you upgrade MXNet accordingly?

[2017-01-16 04:05] wellecks commented on #120
Yes - I did `git clone --recursive -b engine https://github.com/dmlc/mxnet.git` and built from source

[2017-01-16 05:51] jermainewang commented on #120
Hmm... the error means that some input gradients could not be found after backward propagation. Which code did you meet the problem in? The RL example code?

[2017-01-16 05:54] zzhang-cn commented on #120
Sean, does this problem occur in A2C only or also in earlier version ? In
the first case you may want to share it with the team. Minjie is also local
and you guys can meet if needed.

On Mon, 16 Jan 2017 at 1:51 PM Minjie Wang <notifications@github.com> wrote:

[2017-01-16 15:32] wellecks commented on #120
It's in a different RL example that I'm currently putting together, I put together a simplified version here.

I narrowed it down to the use of `numpy.random.randn` vs `np.random.randn` in the initialization function - if you run the file it should cause the `KeyError`, but inside `_init_params` if you use the other `init_config` the file runs

[code]

[2017-01-16 15:33] wellecks commented on #120
(the `ps` lines are commented out because `np.max` and `np.minimum` cause a `minpy.primitive.NoGradientFuncError`, but separate from this issue)

[2017-01-16 15:40] wellecks commented on #120
So the KeyError may not be a bug, I'll use the `np.random.randn`

[2017-01-16 15:55] zzhang-cn commented on #120
But still it's a nuisance and should be fixed. Either our transparent NumPy
fallback doesn't catch it or gradient wasn't provided.

-zz

On Mon, Jan 16, 2017 at 11:40 PM, Sean Welleck <notifications@github.com>
wrote:

--

*Zheng Zhang <https://shanghai.nyu.edu/academics/faculty/zheng-zhang> 张峥*

Professor of Computer Science, NYU  Shanghai 上海纽约大学计算机系教授

Room 1118, 1555 Century Avenue

Pudong New

[2017-01-16 20:14] jermainewang commented on #120
Hi Sean,

This should be fixed in #122 . I've run your script and it works. You could try branch `fix-rl` to see whether it works for you. I've also implemented the missing gradient function. Please also uncomment the codes and have a try. Thanks.

Minjie

[2017-01-16 20:18] #73 closed

[2017-01-16 22:35] wellecks commented on #120
Thanks Minjie, the fix works!

[2017-01-17 03:01] zzhang-cn commented on #120
That's great. Sean, we are releasing it in one day, meaning the news will
hit some Chinese IT media. Would you be able to put the code into doc?

Minjie: to avoid delay, I'd suggest you give Sean permission to update the
master branch.

-zz

On Tue, Jan 17, 2017 at 6:35 AM, Sean Welleck <notifications@github.com>
wrote:

--

*Zheng Zhang <https://shanghai.nyu.edu/academics/faculty/zheng-zhang> 张峥*

[2017-01-17 05:13] jermainewang commented on #120
I think Sean has the permission right? @wellecks

[2017-01-17 08:00] rorschachhb commented on #118
Update:

I think the conflicting package is cython. As long as I install cython before installing mxnet using `python setup.py install`, `import minpy.numpy` will raise error.

I looked into setpy.py, looks like some extra modules are compiled if cython is installed. I'm not familiar with cython, so I can't provide more help, hope you guys can figure it out.

[2017-01-17 13:57] lryta commented on #118
Thank you very much. We will do further investigation.

[2017-01-17 15:20] wellecks commented on #120
Yeah I submitted the above PR and it looks like I'm able to merge it, but wanted to check here first to see if someone wanted to look it over

[2017-01-17 15:32] zzhang-cn commented on #120
I read the PR and it looks real nice. Please go ahead and merge it.

-zz

On Tue, Jan 17, 2017 at 11:20 PM, Sean Welleck <notifications@github.com>
wrote:

--

*Zheng Zhang <https://shanghai.nyu.edu/academics/faculty/zheng-zhang> 张峥*

Professor of Computer Science, NYU  Shanghai 上海纽约大学计算机系教授

Room 1118, 1555 Century Avenue

Pudong New District, Shanghai 200122, China

中国上海市浦东新区世纪大道1555号1118室, 2001

[2017-01-17 15:37] #120 closed

[2017-01-17 22:59] VoVAllen opened #124 "Import error on minpy 0.3.0"
ImportError
Traceback (most recent call last)
<ipython-input-5-4cdee40c8e15> in <module>()
----> 1 import minpy

/usr/local/lib/python2.7/dist-packages/minpy/__init__.py in <module>()
     15
     16 # Import minpy.numpy package to do some initialization.
---> 17 from . import numpy  # pylint: disable= wrong-import-position
     18
     19 def set_global_policy(plc):

/usr/local/lib/python2.7/dist

[2017-01-17 23:05] VoVAllen commented on #124
Another error

KeyError                                  Traceback (most recent call last)
<ipython-input-1-4cdee40c8e15> in <module>()
----> 1 import minpy

/usr/local/lib/python2.7/dist-packages/minpy/__init__.pyc in <module>()
     15
     16 # Import minpy.numpy package to do some initialization.
---> 17 from . import numpy  # pylint: disable= wrong-import-position
     18
     19 def set_glob

[2017-01-17 23:10] lryta commented on #124
Please check this #118

[2017-01-17 23:14] VoVAllen commented on #124
Solved. It's the problem of PYTHOPATH environment variable.

[2017-01-17 23:14] #124 closed

[2017-01-18 17:05] entron opened #125 "Is tensordot supported?"
Is tensordot supported to run on GPU as well as to be differentiable?

[2017-01-18 22:47] jermainewang commented on #125
No at the moment, but welcome any contribution. Maybe try define its gradient in NumPy first? All supported operators are listed here: https://minpy.readthedocs.io/en/latest/feature/operators.html . We will keep update this list.

[2017-01-18 22:51] cathalgarvey opened #126 "Clarify that it's CUDA-only for now?"
Took me few minutes of digging to determine that the "GPU" backend is really only a nVidia back-end. And I'd gotten all excited! :)

[2017-01-18 23:14] jermainewang commented on #126
Yes, only CUDA for now. If MXNet has more kinds of GPU supports, we will also catch up.

[2017-01-19 03:57] #126 closed

[2017-01-19 05:53] chenyang-tao opened #128 "No direct support for numpy.ndarray to minpy.array conversion?"
It makes life easier if I can directly initialize a minpy array with numpy ndarray. : )

[code]

[2017-01-19 16:54] soumith opened #129 "consider using THC"
Hi there devs, very good work!

I see that a lot of numpy functions are yet to be implemented for the GPU.
Instead of writing Tensor Op CUDA kernels from scratch, I suggest that you take a look at https://github.com/pytorch/pytorch/tree/master/torch/lib/THC
It is a C99 library with a lot of tensor functions implemented and might be helpful in saving time and effort.

This library currently powers

[2017-01-19 17:07] chenyang-tao opened #130 "shape / reshape produce weird errors when taking auto-gradients"
Try to play with minpy but constantly run into errors, which is really frustrating.
Here is a minimal example of weird error with shape / reshape operations. I have to print out something in the function to avoid AssertionErrors.

[code]

[2017-01-19 17:35] lryta commented on #129
Thank you very much @soumith ! We will definitely look into THC.

[2017-01-19 17:39] YuliangXiu opened #131 "import minpy failure"
@pluskid
[code]

this issue only occured when I call `import minpy` at root dir(~)
when I call `import minpy` at ~/dev/mxnet/python this issue disappears

why this happen?

[2017-01-19 17:47] lryta commented on #131
Maybe see this first? #118

[2017-01-19 18:18] tqchen commented on #129
I opened an issue in MXNet https://github.com/dmlc/mxnet/issues/4735 to discuss this

[2017-01-20 02:01] StevenLOL commented on #131
Same here.

[2017-01-20 03:36] sneakerkg commented on #131
It looks like minpy didn't find the correct MXNet.
Please make sure: $MXNET_HOME/python is in your PYTHONPATH, and the MXNet should meet the version requirement: the MXNet from engine branch.
If you have multiple MXNet built on your computer, try to use virtualenv to resolve the problem.
Hope it will help.

[2017-01-20 04:45] jermainewang commented on #131
Could you try following in the python REPL?
[code]

[2017-01-20 04:53] hotpxl commented on #131
@jermainewang Since we are using our own branch of MXNet. Can we put a version test code in it?

[2017-01-20 05:02] hotpxl commented on #128
You could try `minpy.numpy.wrap(array_numpy)`. This will return a `minpy.numpy.Array`. This function also works for MXNet arrays.

[2017-01-20 05:14] hotpxl commented on #130
Thanks. It's a problem on the engine side. We'll look into it!

[2017-01-20 05:20] ZihengJiang commented on #130
## Minimum Reproduce Snippet

[code]

## Error Message
Traceback (most recent call last):
  File "reproduce.py", line 18, in <module>
    d_X = gradient(X, B)
  File "/home/joe/Library/PyEnv/minpy/local/lib/python2.7/site-packages/minpy-0.3.0-py2.7.egg/minpy/core.py", line 87, in wrapped
    return grad_with_loss_func(*args)[0]
  File "/home/joe/Library/PyEnv/minpy/local/lib/python2.7/site-package

[2017-01-20 05:21] hotpxl commented on #130
Thanks! I was just about to do this. helps a lot

[2017-01-20 06:54] GreenKing commented on #118
Hi, I met with the same situation twice. Just as @rorschachhb said, after running `python setup.py install` command, there would be a package dir in `Anaconda2/Lib/site-packages/mxnet-0.9.1-py2.7-xxos-x86_64.egg`, which has two subfolders named `mxnet` and `mxnet.egg-info`. I tried to move thoese folders directly to `Anaconda2/Lib/site-packages/`, and it works fine so far (don't forget to delete `

[2017-01-20 13:31] YuliangXiu commented on #131
I have the correct PYTHONPATH and my MXNet is from engine branch.
but the error still exits
The version of my MXnet is 0.9.2
@jermainewang @sneakerkg

[2017-01-20 13:45] YuliangXiu commented on #118
thanks a lot, @GreenKing , my 'import minpy' works just as your modification.

[2017-01-20 13:47] YuliangXiu commented on #131
I use the solution in #118, and it works.

This error is related to the conflict of mxnet folder.

[2017-01-20 13:49] lryta commented on #131
@jermainewang @hotpxl Is this a problem related to MXNet's cython interface?

[2017-01-20 18:14] jermainewang commented on #131
@hotpxl, we've already had the version check. There seems to be some weird import behavior. The problem is I cannot reproduce this issue on my machine.

[2017-01-21 03:04] lryta commented on #131
It looks like MXNet's cython interface implemented less operator than its standard python interface. @jermainewang

[2017-01-21 05:25] piiswrong commented on #118
mxnet users reports similar issues. haven't been able to reproduce. Does anyone know where the dir `mxnet-0.9.1-py2.7-xxos-x86_64.egg` come from?

[2017-01-21 05:44] piiswrong commented on #131
This is actually due to cython interface. If we don't use cython the folder `mxnet-0.9.2-py2.7.egg` is generated. If we use cython then mxnet-0.9.2-py2.7-linux-x86_64.egg is created.

However both version works fine for me and I cannot reproduce the error.
I'm going to disable cython install until someone can figure out why.

[2017-01-21 05:47] lryta commented on #131
@piiswrong I figured out the problem. No need to disable cython. The fix is on the way.

[2017-01-21 10:27] YingzhenLi opened #133 "gradient for list of variables"
Is that possible to get gradient for a list of variables? e.g. instead of using
loss_func(w, b, x, y) then gradient = grad(loss_func, [0, 1]),
it might be preferred to use params = [w, b]
loss_func(params, x, y) then gradient = grad(loss_func, [0]).

I ask this because my task is to do MCMC on neural network weights. In the first case I need to specifically define loss_func() with lots of argument

[2017-01-22 03:39] jermainewang commented on #133
This could be solved by adding a special ParamTuple structure. Let me see if I could quickly implement that.

[2017-01-22 16:19] lryta commented on #131
@YuliangXiu This issue now should be resolved by the latest update.

[2017-01-22 16:19] #131 closed

[2017-01-22 16:20] #128 closed

[2017-01-23 19:57] wellecks opened #134 "np.log: ValueError 'Too many positional arguments' for scalar inputs"
Hi, please see the script below; `log` throws an error when a scalar is provided as input (this may also occur for other operations like `abs`). Using a singleton array works as a workaround, but I wanted to check whether the error is desired behavior?

[code]

[2017-01-24 02:12] mufeili opened #135 "ImportError: cannot import name '_ndarray_internal' in Python 3.5"
Hi.

I have installed the latest version of MXNet (0.9.3) by the quick installation for Python on mac. I can import MXNet successfully in both Python2 and Python3. I installed MinPy in Python2 with pip install MinPy and MinPy in Python3 with pip3 install MinPy separately. I can import MinPy successfully in Python2. But when I try to import MinPy in Python3, I met the following error:

`Python 3.5.

[2017-01-24 04:46] chenyang-tao opened #136 "minpy.numpy.concatenate does not work"
Thanks for the hard work, it's a lovely package with, at the moment, tons of small issues. For example the following code raises an Assertion Error. Should be an easy fix I guess.

[code]

[2017-01-24 17:48] delijati commented on #136
Or it could be documented what "functions" of numpy are supported.

[2017-01-25 13:48] ZihengJiang commented on #134
Sorry, this problem is caused by the difference between MXNet API and NumPy API, as you can see, in MXNet, the code below cannot work well too:

[code]

This problem should be fixed in the near future.

[2017-01-30 10:27] jacklxc opened #138 "'module' object has no attribute 'OnlyNumPyPolicy'"
I just updated MXNet and Minpy to the latest version, and the following code worked previously but does not work anymore.
`import minpy`
`minpy.set_global_policy(minpy.OnlyNumPyPolicy())`

The error is `'module' object has no attribute 'OnlyNumPyPolicy'`. How do I fix this problem?

Thank you.

[2017-01-30 12:29] zzhang-cn commented on #138
please read the updated documentation.

On Mon, Jan 30, 2017 at 6:27 PM, Xiangci Li <notifications@github.com>
wrote:

--

*Zheng Zhang <https://shanghai.nyu.edu/academics/faculty/zheng-zhang> 张峥*

Professor of Computer Science, NYU  Shanghai 上海纽约大学计算机系教授

Room 1118, 1555 Century Avenue

Pudong New District, Shanghai 200122, China

中国上海市浦东新区世纪大道1555号1118室, 200122

T Shanghai office 上海办公室 +86 021 2

[2017-01-30 13:40] jacklxc commented on #138
OK I found it.
`import minpy.numpy as np`
`from minpy import OnlyNumPyPolicy`
`np.set_policy(OnlyNumPyPolicy())`

[2017-01-30 14:00] jacklxc commented on #138
It seems latest documentation's code does not work for me. Same problems exists.

When I try
`import minpy.numpy as np`
`from minpy import OnlyNumPyPolicy`
`np.set_policy(OnlyNumPyPolicy())`,
There is error that `ImportError: cannot import name OnlyNumPyPolicy`.

[2017-01-30 15:08] GaiYu0 commented on #138
@jacklxc Could you try
`import minpy`
`dir(minpy)`
in an interpreter and check whether OnlyNumpyPolicy appears in the output list?

[2017-01-30 15:27] jacklxc commented on #138
@GaiYu0 `'PreferMXNetPolicy'` appears but there is no `OnlyNumpyPolicy`. These to classes are in the same file `policy.py` with the same format, but I don't know why only one of them is in the path.

[2017-01-30 15:50] ZihengJiang commented on #138
I think that policys are depreciated for user. It should only be used by
developers if I'm right.
On Mon, Jan 30, 2560 at 07:27 Xiangci Li <notifications@github.com> wrote:

--
Ziheng Jiang
Fudan University | Computer Science

[2017-01-30 15:54] jacklxc commented on #138
I have to use `OnlyNumPyPolicy()` to prevent further error. Everything was fine before I updated MXNet and Minpy. Now the packages such as `minpy.numpy` work properly. I am not sure if this issue is because of the change made in minpy, or my local change.

[2017-01-30 15:58] ZihengJiang commented on #138
The issue is due to our change to MinPy instead of your local change. We
think policy should be removed for simplifying the usage after our
discussion. Is there any error if you remove set_policy line?
On Mon, Jan 30, 2560 at 07:54 Xiangci Li <notifications@github.com> wrote:

--
Ziheng Jiang
Fudan University | Computer Science

[2017-01-30 16:18] jacklxc commented on #138
I encountered many frustrating bug before I used `OnlyNumpyPolicy()`. For example the first error when I remove the policy is
[`---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-3-f823b5e89bd5> in <module>()
----> 1 model = SimplePolicyNetwork(hidden_dim=5,reg=0)

/Users/lixiangci/G

[2017-01-30 17:56] ZihengJiang commented on #138
OK, I see.
Could you raise another PR for this bug? It would be helpful if you can paste the minimum reproduce code snippet. Thank you!

[2017-01-31 05:45] jacklxc opened #139 "minpy.numpy.sqrt() error"
I was using `OnlyNumpyPolicy` in older version of minpy. After updating minpy, I could not use `OnlyNumpyPolicy` anymore. As a result, basic operations such as
[code]
Causes errror:
[code]

Personally I suggest developers to enable `OnlyNumpyPolicy` again to solve this problem.

Thank you.

[2017-01-31 06:06] chenyang-tao opened #140 "Data dependent branches not working"
Hi guys, following are some issues with data dependent branching I encountered lately.

1. This exact replica of the data dependent branching does not work as expected.
[code]

2. Things get more hairy if I want to take the gradients with branching.
[code]

[2017-01-31 14:49] anxingle opened #141 "windows support or bash on ubuntu on windows?"
I  wonder  do you have plan to support windows or bash on ubuntu on windows?

[2017-01-31 21:22] #125 closed

[2017-01-31 21:29] jermainewang commented on #138
Sorry, this error is due to the recent change in policy interface. I will update the doc and example. To enable numpy only policy. Try:
[code]
or
[code]
The changes are:
* We do not allow per-module policy switch (e.g. different policy for numpy and numpy.random modules)
* It is undefined behavior to switch policy in the middle of your code. It is suggested to set the global policy at the beginnin

[2017-01-31 21:30] jermainewang commented on #139
This is because MXNet's `sqrt` call does not accept single scalar as argument. We will PR to MXNet to fix this problem.

[2017-01-31 21:38] jermainewang commented on #140
Hi,

The first example is ambiguous. If you replace the namespace with numpy, you will got:
[code]
, because both X and Y are arrays, the `X < Y` will return a bool array of true and false. So what do you mean by condition `X < Y`? It is `np.all(X < Y)` or `np.any(X < Y)`? The reason only X + Y is executed is because in minpy it will use the first element as the condition value (which is true). So

[2017-01-31 21:40] jermainewang commented on #141
We haven't looked into windows support yet. But I think if you could install mxnet in windows (which is supported), then minpy should also be fine since it is only python package. Welcome any contributions here!

What do you mean by bash support?

[2017-01-31 21:41] jermainewang commented on #135
Could you remove the python2 version of both minpy and mxnet to try again?

[2017-01-31 23:07] jermainewang commented on #104
@ZihengJiang I've tried your code in the latest version. It seems fine. Could you try again?

[2017-02-01 01:24] chenyang-tao commented on #140
Thanks for the reply. I am now even more confused with the first example. The following code is given as an example demonstrating features of minpy in README.md, highlighting **''... _you freely use the if statement anyway you like_.''**
[code]
So if only the first element of the returned bool array will be used, then this example is misleading.

Looking forward to your fix with the scalar argumen

[2017-02-01 03:53] jermainewang commented on #140
I see. The example is only for scalar, but not meaningful for arrays. To make it more appropriate for arrays, you should have:
[code]

[2017-02-01 04:17] lryta commented on #140
@jermainewang Can you update the image in web-data? Thanks!

[2017-02-01 06:30] #130 closed

[2017-02-01 06:34] hotpxl commented on #130
@ZihengJiang Please help me check my fix.
When we have multiple output for a function, it does not correctly `add_partial_derivative` to all outputs. When `np.shape` has two outputs, there is only one partial derivative record, hence the refcounting problem.

[2017-02-01 18:45] jermainewang commented on #135
Hi Murphy, please try again. The PR should fix this problem.

[2017-02-01 18:56] lryta commented on #135
@mufeili I bumped the version. You can now install the update through `pip install minpy -U`. The new version is `0.3.2`.

[2017-02-01 19:15] ZihengJiang commented on #104
Indeed, it works well now.

[2017-02-01 19:15] #104 closed

[2017-02-01 19:38] ZihengJiang commented on #130
@hotpxl I see. Looks good.

[2017-02-01 19:53] jermainewang commented on #130
@hotpxl , could you also add a unittest about this?

[2017-02-01 20:10] mufeili commented on #135
@lryta Hi Larry, I just tried, but the problem remains. See below:

`Installing collected packages: minpy
Successfully installed minpy-0.3.2`

`Python 3.5.2 (default, Oct 11 2016, 04:59:56)
[GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.38)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module

[2017-02-01 20:14] anxingle commented on #141
Thank you so much. I install minpy  successfully on my windows 10.
Windows 10 have enable  " Subsystem for Linux " ,so we can use bash in windows just like in ubuntu.  But I try to install minpy by the way install on ubuntu (pip install minpy),it just say:
'''
Requirement already satisfied: minpy in /mnt/d/workspace/ubuntu/anaconda2/lib/python2.7/site-packages/minpy-0.3.1-py2.7.egg
Requirement alr

[2017-02-01 21:03] lryta commented on #141
This error
`OSError: libopencv_imgcodecs.so.3.1: cannot enable executable stack as shared object requires: Invalid argument`
looks like some opencv related error.

This one
[code]
I posit is due to your internet connection. It said it could not download packages from python's repo.

[2017-02-01 21:04] lryta commented on #141
@anxingle By the way, it looks like your `pip` is from `python2` and `python` is python3.

[2017-02-02 01:40] lryta commented on #135
Can you try to install mxnet manually? I didn't see any problems on Python3 (latest mxnet@master and latest minpy 0.3.2)

[2017-02-02 03:07] mufeili commented on #135
@lryta By "install mxnet manually", do you mean the following procedure?

brew tap homebrew/science
brew info opencv
brew install opencv
brew info openblas
brew install openblas
git clone --recursive -b engine https://github.com/dmlc/mxnet
cd mxnet; cp make/osx.mk ./config.mk; make -j$(sysctl -n hw.ncpu)

If I do this, I will only get mxnet in Python2 not both in Python2 and Python3. Do you have m

[2017-02-02 03:32] #135 closed

[2017-02-03 05:23] kmod opened #145 "Better explanation of the advantages over raw MXNet"
Hi, just a suggestion from a passer-by: I am interested in understanding the advantages of this library over raw mxnet and would love to see more discussion of it.  Auto-differentiation definitely seems like one feature, but other than that it seems like MinPy has the same expressiveness as MXNet, with only-slightly-worse performance.  It'd be great to hear more about how you folks are intending t

[2017-02-03 06:51] zzhang-cn commented on #145
Nice comments. We will think about how to fix the intro.

The key thing we wanted to do here to the land of API is "back to NumPy", by doing subtraction instead. With this fixed, our next step is to move the performance closer to or even exceeding that of today's systems. The technical direction is similar to a very early system we built, called Minerva: https://stanford.edu/~rezab/nips2014worksho

[2017-02-03 15:13] anxingle commented on #141
@lryta   @jermainewang    Thank you .  The problem solved.  Opencv didn't work and I use command "$ sudo execstack -c $HOME/anaconda2/lib/libopencv_*"   solved and then minpy works!

[2017-02-03 15:13] #141 closed

[2017-02-05 22:39] jermainewang commented on #145
Talking about expressiveness, MXNet is not turing-complete due to the lack of loop. This is **not** an inherent problem of symbolic programming though, since one could add interface like `while` in tensorflow to achieve that. Our view is that this is just like **reinventing a new language**. As a contrary, MinPy takes a different approach: it supports python's native if and loop, so it is just a p

[2017-02-06 00:43] GaiYu0 opened #146 "Possible issue in _prune_gradient_path"
Hi! I am using minpy to experiment on RNN and gradient calculation is blocked in _prune_gradient_path (tape.py). If I comment code in _prune_gradient_path, gradient calculation is no longer blocked and network converges normally. Currently I am not sure whether it is only a performance issue. The RNN architecture I use is complicated, which might cause the issue. However, I am sure that the RNN is

[2017-02-06 07:56] kmod commented on #145
Perhaps I am not familiar enough with MXNet; why can't you use Python if statements while constructing your MXNet graph?

For the "data-dependent branch" examples, the MinPy program evaluates the conditional at graph-construction time, whereas the TF example emits it into the graph.  Or if the conditional is non-symbolic, then in TF you could have used a python 'if' statement just like the MinPy p

[2017-02-06 14:49] jermainewang commented on #146
Could you post the code? Thanks.

[2017-02-06 23:02] VoVAllen opened #147 "Why solver._step() shouldn't be called manually?"
I think solver._step() is quite a useful and necessary API to be open to the users.

Manually iterate batches and step can help debug and watch the internal variable changes. Also some training tricks in GAN need this. (Such as update discriminator once when the generator is updated ten times) I think only solver.train() lacks the flexibility.

[2017-02-07 04:18] GaiYu0 commented on #146
I found that the issue is caused by a loop in tape.py that does not terminate.
![image](https://cloud.githubusercontent.com/assets/17979843/22677670/7300f406-ed2f-11e6-9a5f-9ff6b8fec675.png)

A minimum version of code leading to the error:

[code]

[2017-02-07 04:20] GaiYu0 commented on #146
Also, if I comment _prune_gradient_path, there is no other error. Any idea? Thanks!

[2017-02-10 18:01] harikrishnavydana commented on #14
is there a case that we get gradients as flots not matrices and i get zero gradients for all batches
seq_len=x.shape[1]
        batch_size=x.shape[0]
        hidden_size=self.params['wh'].shape[0]
        h1_ini=np.ones((batch_size,hidden_size))
        h1=layers.rnn_temporal(x,h1_ini,self.params['wx'],self.params['wh'],self.params['b'])
        ##RNN layer-------2
        hidden_size2=self.params

[2017-02-10 19:52] lryta commented on #14
@harikrishnavydana Where did you call `grad` or `loss_and_grad`?

[2017-02-11 04:39] harikrishnavydana commented on #14
@lryta this id id not paste last time

def loss_func(wx,wh,b,wx1,wh1,wb1,wx2,wh2,wb2,wxd,whd,wbd,wo,bo,FEATS,lABELS,mask):
        net.params['wx'] = wx
        net.params['wh'] = wh
        net.params['b'] = b
        net.params['wod'] = wo
        net.params['bod'] = bo
#layer====2
        net.params['wx1']=wx1
        net.params['wh1']=wh1
        net.params['b1']=wb1
#layer====3
        net.pa

[2017-02-11 13:28] harikrishnavydana opened #148 "A new sequence to sequace example for better underastanding the platfarm better"
minpy is interesting and informative platform...of neural nets.....A sequence to sequence example would give a complete understanding of the platform...code in the format of linear regression example would be very useful.
1.without using solver.py script @ZihengJiang @zihaolucky @piiswrong @samuela @jermainewang @lryta

[2017-02-15 05:28] samuela commented on #148
@harikrishnavydana did you mean to tag me?

[2017-02-15 05:35] harikrishnavydana commented on #148
@samuela  i thought you were also a member minpy development team. I have tagged some of the members hoping a positive reply for my request

[2017-02-15 05:45] lryta commented on #148
@harikrishnavydana This is in plan. Sorry for keeping you waiting. Currently we are working on merging as a subsystem of MXNet, so our schedule is a little off-track. I will do this example ASAP.

[2017-02-18 16:41] harikrishnavydana commented on #148
can u spot the error in the code...... i could not compute gradient.
#!/usr/bin/python
import sys
import os
from os.path import join, isdir
import minpy.numpy as np
from keras.utils import np_utils
from scipy import stats
import matplotlib.pyplot as plt
from random import shuffle
import fileinput
#sys.stdout = os.fdopen(sys.stdout.fileno(), 'w', 0)
from minpy.nn.model import ModelBase
from minpy.n

[2017-02-20 04:20] lryta commented on #148
@harikrishnavydana Can you paste your error message?

[2017-02-20 05:06] harikrishnavydana commented on #148
@lryta i dont have an error, the grad function  does not get computed..it hills the whole ram of 8gb

[2017-02-20 18:30] jermainewang commented on #148
Does it hang or something?

[2017-02-20 22:25] lryta commented on #148
@jermainewang OOM?

[2017-02-21 08:43] harikrishnavydana commented on #148
@jermainewang it dosent hang
i have pasted the code can u check it

[2017-02-23 19:11] jermainewang commented on #148
[code]
@harikrishnavydana could you paste the code that could run without data?

[2017-02-23 19:55] jermainewang commented on #148
Hmm, I found the bug. It is the same as #146 . Working on it right now.

[2017-02-23 20:08] jermainewang commented on #148
The PR #149 should fix this. Sorry for the late fix. We are busy with other MXNet team on the merge process right now. We want to fix most of the minpy overhead and have more stable support for operators in the future. I hope this issue won't block your progress too much. Please tell us if there are any other issues. Thanks!

[2017-02-23 20:08] jermainewang commented on #146
The PR #149 should fix this. Sorry for the late fix. We are busy with other MXNet team on the merge process right now. We want to fix most of the minpy overhead and have more stable support for operators in the future. I hope this issue won't block your progress too much. Please tell us if there are any other issues. Thanks!

[2017-02-24 04:35] DingkunLong opened #150 "programe running problem with the Adding Problem"
Running the code in the RNN tutorial, when I run the RNN code for the adding problem,  I can see the output information during the training, the CPU share of this moment is 1500%, when I run the code of LSTM and GRU(also for adding problem), there is no output information during the training process, and the CPU share now is just 100%.

I think I have installed  correctly nimpy. since I run the co

[2017-02-24 05:21] harikrishnavydana commented on #146
@GaiYu0 could you clearly mention the steps in resolving the issue regd:comment _prune_gradient_path

[2017-02-24 15:43] harikrishnavydana commented on #148
@jermainewang i could not understand this

[2017-02-24 18:46] jermainewang commented on #148
The problem is in autograd. When you do forward computation, minpy will record every operators you've called and their data dependencies (a computation graph), so we could do BP for you automatically. The problem is *not* all the operators you called need corresponding backward computation. For example:
[code]
The `add` operator here needs backward computation, while the `argmax` is not since it d

[2017-02-24 18:47] jermainewang commented on #150
@lryta could run the example?

[2017-02-25 03:28] chenyang-tao opened #151 "Possible memory leakage issue with the '-=' operator."
Hey developers, here is a possible memory leakage issue that took me a lot of pain to track down...

If I run the following code a few times:
[code]
the output would be something like:
[code]
So obviously the '-=' operator is being applied to an obsolete copy of the parameters, that should not be in the memory as I have already overwritten it with the re-initialization op. And there are a few time

[2017-02-27 15:15] jermainewang commented on #148
@harikrishnavydana any further question?

[2017-02-28 15:40] #148 closed

[2017-02-28 15:40] #146 closed

[2017-03-03 12:47] muzi-8 opened #152 "ImportError: No module named visualization.writer"
I have installed the mxnet、minpy and tensorflow library,
"Visualization with Tensorboard" code, when I run the

"from minpy.visualization.writer import LegacySummaryWriter as SummaryWriter
import minpy.visualization.summaryOps as summaryOps"
 occurs a error, it's  "ImportError: No module named visualization.writer"
I'm confused. thanks!

[2017-03-03 16:10] jermainewang commented on #152
We are changing the visualization from the official tensorboard to our own tensorboard https://github.com/dmlc/tensorboard . I guess it is broken right now. In the meanwhile, to workaround this. You could check out the repository I mentioned and try to directly use it for visualization.

[2017-03-04 03:09] zihaolucky commented on #152
@muzi-8 our own tensorboard could be installed via `pip install tensorboard`, and you don't need TF for tensorboard if you use this.

@jermainewang anything I can do for Minpy?

[2017-03-05 09:18] muzi-8 commented on #152
@jermainewang Thanks for helping. because the method that comes from officail website is tedious and installation process is time-consuming.So I take the following approach. But all is not think well.
@zihaolucky Thanks for your reply, I follow the method which you recommend via "pip install tensorboard ".
when I successfully installed the tensorboard  moudle,but run the tutorial example, that is

[2017-03-05 11:23] zihaolucky commented on #152
@muzi-8 thanks for your feedback. Just remove the `train_model_monitor`, it should be okay, I'll remove the useless part later. BTW, the summary API might be slightly different from the TF's, but it's easy to use I think.

You're welcomed to give us feedback at https://github.com/dmlc/tensorboard/issues/19 if you have any issue after installing tensorboard via `pip`.

[2017-03-05 16:01] jermainewang commented on #152
@zihaolucky Yes. Let me create a separate issue on possible improvements for dmlc/tensorboard and minpy. Thanks.

[2017-03-05 16:31] zihaolucky commented on #152
@jermainewang Cool, @piiswrong and I are just about to bring dmlc/tensorboard to MXNet, your suggestions must help a lot.

[2017-03-08 02:05] csgcmai opened #153 "Import Error, Type MXNet for NDArray.reshape has already existed"
Hi, I accidently find that import the minpy with mxnet (the latest master or engine branch) will lead to the error as titled. The problem could be solved by comment the following line:

line 104 in minpy/array_variants/mxnet/mxnet_core.py:
reg.register('reshape', prim_wrapper(NDArray.reshape))

[2017-03-08 02:41] lryta commented on #153
This is due to the change on MXNet side. I will fix this shortly.

[2017-03-09 16:35] wangg12 commented on #139
@jermainewang Many functions in minpy don't accept scalar and list arguments, however numpy does. I think minpy should be consistent with that in numpy.

[2017-03-09 20:51] lryta commented on #139
@wangg12 The fix is still on the way.

[2017-03-09 22:57] ZihengJiang commented on #136
Should be resolved by https://github.com/dmlc/minpy/pull/137
Although please use `np.concatenate([X, Y], axis=1)` instead of `np.concatenate((X, Y), axis=1)`, because MXNet doesn't support the latter.

[2017-03-10 00:06] lryta commented on #153
@csgcmai Btw, you can use `engine` branch as in the [installation guide](http://minpy.readthedocs.io/en/latest/get-started/install.html). MinPy is merging with MXNet now. When we complete, MinPy will catch up with all the features MXNet added in her new version.

[2017-03-10 00:06] #153 closed

[2017-03-10 00:25] lryta commented on #150
@DingkunLong I checked the code on the documentation website and it should work. I uploaded a file for you ([file](https://github.com/dmlc/minpy/blob/master/examples/nn/lstm.py)). By the way, please use `engine` branch of MXNet (`git checkout engine && git submodule update`) and `minpy >=0.3.2`.

Please reopen the issue if the problem still exist.

[2017-03-10 00:25] #150 closed

[2017-03-10 19:07] #136 closed

[2017-03-10 20:52] wddabc opened #154 "Zero gradient for concatenate"
Looks like the computation graph breaks on the concatenation operation.
MWE:
[code]

[2017-03-10 20:54] jermainewang commented on #154
@ZihengJiang Could you have a look? Also put this in unittest.

[2017-03-11 03:44] csgcmai commented on #153
@lryta , thanks for the information and I am looking forward to the updates.

[2017-03-11 03:45] wangg12 opened #155 "Wrong results for grad of grad."
Following this doc page[https://minpy.readthedocs.io/en/latest/tutorial/autograd_tutorial.html](https://minpy.readthedocs.io/en/latest/tutorial/autograd_tutorial.html), running the code
[code]
The first order gradient is right, but the second and the third order gradients are not right.  My results for them are both `0.0`(a single float number).

However, from the definition of `foo`, `d_2_foo(x)`

[2017-03-11 04:02] lryta commented on #155
The bug is confirmed. It is introduced by our latest performance refactoring. The fix will come soon.

[2017-03-11 05:16] wddabc opened #156 "argmax crashes mxnet"
Not sure it is related to my OS, I'm running on
MacOS Sierra 10.12.3.
Mxnet version:0.9.2
[code]
Returns

[2017-03-11 16:47] jermainewang commented on #155
@lryta do you know what causes the bug?

[2017-03-11 17:51] lryta commented on #155
We added `tape.start_recording` and `tape.end_recording` in `minpy.core`. If two `grad` functions are stacked, `tape` will end recording earlier than expected.

[2017-03-11 20:19] jermainewang commented on #155
I see. But the two tapes should be separated right? I remember the code is `current_tape.end_recording`.

[2017-03-11 20:20] lryta commented on #155
I think `tape` is global. Im not 100% sure. I will check later.

[2017-03-12 20:15] wddabc opened #158 "Wrong implementation of the xavier initializer"
The Xavier init in https://github.com/dmlc/minpy/blob/master/minpy/nn/init.py#L32-L33
is wrong. According to [Glorot et al (2010)](http://jmlr.org/proceedings/papers/v9/glorot10a/glorot10a.pdf) Eq.(1) and Eq. (16), the weights are sampled from a uniform dist, not a normal dist (I assume the npr.randn is a normal dist as numpy.random does).

I tried to change L33 to:
`ret = npr.uniform(low=-1., hig

[2017-03-12 21:02] wddabc opened #159 "Uniform sampler failed"
Mentioned in #158, but should be a new issue:
The sample code
[code]
triggered

[2017-03-12 23:03] jermainewang commented on #159
This is an mxnet error. It uses `shape` rather than `size` argument. Try:
[code]

[2017-03-13 01:32] wddabc commented on #159
Thanks. It works. But I think this issue should remained open until it comforms to numpy.

[2017-03-13 04:21] wddabc opened #160 "Possible improvements about the wrapper"
While minpy is a great tool for building dynamic nets, I found the wrapper (Solver, ModelBase...) is a little bit hard to use that I had to do a lot of hacks to make this work. Here are some thoughts about the possible improvements at the current stage:

1. Lots of things should be passed into Solver.train rather than the constructor. Such as the data iterator, the optimizer. etc. In fact, the Sol

[2017-03-13 12:43] sneakerkg commented on #160
@wddabc Thanks a lot for the suggestion.
We are going to refine the nn package to make it more convenient for users.
For the loss_func part, what do you think we pre-define some loss or criterion template for users?

[2017-03-13 14:58] wddabc commented on #160
I think the directly returning `self.model.loss_batch(batch)` should be fine. Something looks like:
[code]
User can define whatever they like as the loss function in the implementation of `model.loss_batch(batch)`, for example, `loss(model.predict(x), y)`.  `model.predict` is optional, user can define or not based on whether they want to make prediction. For example, users might just use the model

[2017-03-16 23:49] sneakerkg commented on #160
@wddabc Thanks a lot for the suggestions. We totally agree on the thought that flags like "isTrain" is needed when calling loss_batch;
And:
1) For modelBase problem, now we have the concept Module in https://github.com/dmlc/minpy/blob/master/minpy/nn/model_builder.py . We can have multiple sub-module in a whole model;
2) Thanks for pointing out shared parameter issue. Could I bother you give us so

[2017-03-17 05:46] wddabc commented on #160
On Thu, Mar 16, 2017 at 7:49 PM, Tianjun Xiao <notifications@github.com>
wrote:

been implemented yet. Is this a version where you support appending
multiple inputs? I'm actually thinking about making this more general by
building a *graph* rather than a *list* (I mean Sequential).This is more
flexible I think. Also, although it is a minor issue, I might consider
renaming forward by __call__, as l

[2017-03-17 14:57] wddabc commented on #160
I think there is still flaw of the dry-run idea. I forgot the user might want to build graph themselves and shouldn't implement this. Well, this looks like a hard problem, as it needs static analysis on the dynamic graph. But the lazy init approach still seems to be viable. Or just let it go and let the user to take care of the shapes.

[2017-03-17 23:08] GaiYu0 commented on #160
@wddabc Thank you very much for your suggestion! (I should have participated in discussion earlier)

The module `Parallel` has not been implemented because in the framework of `model_builder` it is difficult to provide a flexible interface for user to specify an operation on multiple outputs of `Parallel`. The difficulty is because a graph created by `model_builder` is essentially a "list", as you

[2017-03-17 23:23] GaiYu0 commented on #160
Resolving parameter sharing might be easier. I am implementing a initializer that enables user to index initialization configuration by parameter. For example, `initializer[convolution0.weight].std = 0.1` specifies that the weight of convolution layer 0 should be sampled from a distribution using a standard deviation of 0.1. On this basis it is possible to implement an interface of the form `initi

[2017-03-17 23:52] GaiYu0 commented on #160
Also, `model_builder` only supports static graph composition for the time being, i.e. statically declare a graph and use a function to convert the graph to a model. Dry-running is going to be an issue when `model_builder` supports dynamic graph composition in future, as PyTorch does. PyTorch forces users to declare all layers that is going to be used in dynamic graph composition in advance so that

[2017-03-18 01:32] wddabc commented on #160
I agree, as I said in the last email. Maybe it is ok to just let users to take care of the shapes, just as PyTorch.  The dynamic graph by itself is easy enough.

Regarding the shared parameter, I also agree that it is easy to fix. For the initialization, did you mean you want a separated initializer to take care of the initialization? I think the specify the initialization method as an argument of

[2017-03-18 04:55] zzhang-cn commented on #160
Hi all,

So far, we have focused on building a sequential network, but adding
per-layer init and optimization rules, each of which can be dynamically
changed. This adds flexibility and simplies logics.

I suggest us build upon these principles and study Keras (
https://keras.io/getting-started/functional-api-guide/) to complete
functionality incrementally. Things like:
- Multiple inputs
- Multiple

[2017-03-19 03:14] wddabc commented on #160
Agree. I think one important thing is figuring out what functionality a Module should have (example, load, save, fit, predict ... etc), and how these could be implemented under the context of dynamic graph. Starting from a sequential network is a good way.

[2017-03-21 21:19] swanderingf opened #163 "Can not import minpy in Python 2.7 (anaconda): Type "MXNet" for name "reshape" has already existed"
Hi,

I just installed minpy with pip install minpy, but the import failed and returned this message.
Could I fix this by doing something?
I am with MXnet 0.9.4 on Python 2.7.13 (Anaconda), CUDA 8.0 and cudnn 5.1 and they work together.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ruocheng/anaconda2/lib/python2.7/site-packages/minpy/__init__.py", line 17,

[2017-03-21 21:52] lryta commented on #163
Please install MXNet's `engine` branch to properly use `minpy`.

[2017-03-22 01:32] swanderingf commented on #163
Hi Larry, thanks for your fast response, I wonder how should I properly do this as I already have mxnet installed in ~/mxnet?
As I don't quite understand the relationship between mxnet and the engine branch,
I just cloned the engine branch in ~/mxnet_engine/ and ran make according to the [minpy intallation instruction tutorial](http://minpy.readthedocs.io/en/latest/get-started/install.html#on-ubun

[2017-03-22 02:53] lryta commented on #163
Once `PYTHONPATH` is set up, you do not need to install through `setup.py`. You are good to go.

[2017-03-22 04:32] swanderingf commented on #163
Thanks Larry, it works now.

[2017-03-22 04:32] #163 closed

[2017-03-24 03:52] kernel8liang opened #164 "PrimitiveRegistryError: Type "MXNet" for name "reshape" has already existed"
```import minpy.numpy as np``` get error:

```PrimitiveRegistryError: Type "MXNet" for name "reshape" has already existed```

[code]

minpy version 0.32.

[2017-03-24 04:21] lryta commented on #164
MinPy is designed to work on MXNet's `engine` branch. Now we add some forward compatibility to let it work on latest MXNet. I just updated a new version, please update to version 0.3.3 and try again. Please let me know if the problem still exists.

[2017-03-24 04:21] #164 closed

[2017-03-24 06:01] kernel8liang opened #165 "second grad error"
Run autograd_tutorial example,

https://github.com/dmlc/minpy/blob/master/examples/tutorials/autograd_tutorial.ipynb
[code]

error below
[code]
[code]
minpy version 0.33.

[2017-03-24 06:48] wangg12 commented on #165
Related to #155, any fixes on this?

[2017-03-24 18:40] lryta commented on #165
I will try to make a temporary solution in the weekend. In long term this part will be replaced by MXNet's NDArray subsystem which we are working on now.

[2017-03-24 19:13] jermainewang commented on #165
We should still fix this. It is a quite important feature.

On Fri, Mar 24, 2017 at 2:40 PM, Larry Tang <notifications@github.com>
wrote:

--
Minjie Wang
*New York University | Computer Science*
715 Broadway, New York, NY, 10009

[2017-03-26 05:34] lryta commented on #165
@jermainewang I found the reason now. Look at here: [link](https://github.com/dmlc/minpy/blob/master/minpy/primitive.py#L338). The function pushed into gradient record is unwrapped version. Which means that tape cannot record operations there. I think this change is due to performance concern. Should we fix it or wait autograd runtime? (By the way, does autograd runtime support higher order deriva

[2017-04-03 03:08] GaiYu0 opened #167 "Training/inference distinction and multiple-output support in minpy.core.Function"
Hi! It appears that minpy.core.Function cannot distinguish training and inference currently. Also, minpy.core.Function cannot return multiple outputs. It would be nice if these features could be supported. Thank you very much!

[2017-04-03 03:23] HrWangChengdu commented on #167
Got it. I'll try to fix this in the week.

[2017-04-10 06:21] #167 closed

[2017-04-10 06:28] GaiYu0 opened #169 "Inputting auxiliary states to MXNet symbol via minpy.core.Function"
Hi! I am using `core.Function` to call `BatchNorm` symbol of MXNet. However, I cannot input `moving_mean` and `moving_var` to the symbol because it appears that `core.Function` only accepts trainable parameters. I hope `core.Function` could accept auxiliary states as well so that I could get acceleration from symbols such as `BatchNorm`.

[2017-04-10 14:36] HrWangChengdu commented on #169
No problem, I'll look into that

[2017-04-11 04:35] GaiYu0 opened #170 "minpy.core.Function handling top-down gradients w.r.t. multiple outputs"
Hi! I am using `minpy.core.Function` to call a MXNet symbol yielding multiple outputs. I am not sure whether `minpy.core.Function` works in backward phase if there are top-down gradients w.r.t. all these outputs.

It appears that `minpy.core.Function` only provides gradient w.r.t. one of these outputs to executor.backward: https://github.com/dmlc/minpy/blob/master/minpy/core.py#L169

(But I might

[2017-04-16 07:34] X-czh opened #172 "Typo Error in the Autograd Section of MinPy Tutorial"
Hi! I was reading the MinPy tutorial, and found a typo error in the Autograd section, which is shown in the attached picture:

![default](https://cloud.githubusercontent.com/assets/22020529/25069617/0726a522-22b9-11e7-9c53-bcd479732d2a.JPG)

Here, it should be d_3_foo = grad(d_foo2) instead of d_3_foo = grad(d_foo), as d_3_foo is the derivative of d_2_foo, and is therefore a second order derivativ

[2017-04-19 23:41] swanderingf opened #173 "Can I create a variable shared by forward and back propagation in customop('numpy')?"
I do not quite understand the mechanism behind @customop('numpy').
I find that there's an intermediate variable 'Q' which is expensive to compute and appears in computing both the output and gradient.
By the way, I also wonder if I can create gradient function for multiple parameters (e.g. w1 and w2 as in the code below).
e.g.
[code]
Thanks!

[2017-04-20 00:10] GaiYu0 commented on #170
Hi! Here is an example of the issue:
[code]

[2017-04-24 17:15] rai16 opened #176 "[Help]How can we resume from an already saved parameters ?"

[2017-04-28 07:40] GerrieWell opened #177 "How to install minpy and opencv correctly ?"
I followed this [page](https://minpy.readthedocs.io/en/latest/get-started/install.html) to install minpy .
After that ,it seem like install in virtual environment.
if I run `workon minpy_dev`
python -c 'import minpy.numpy as np' work fine.
But
[code]

If I don't run `workon minpy_dev` .`opencv` work fine .but `minpy` module can't be found .How to fix that ?

[2017-04-28 07:41] GerrieWell commented on #177
without the environment :
[code]

[2017-05-03 04:06] sjr113 opened #178 "How to specify a function's gradient function defined by users just like 'Autograd' ?"
As we know, there are some functions that need user specify their gradient sometimes. In 'Autograd' package, we can use '@primitive' to declare that the gradient of one function has been specified instead of solving its grad automatically. So I wonder how to implement this operation in 'Minpy'?

[2017-05-03 06:57] hotpxl commented on #178
Please refer to this tutorial
https://minpy.readthedocs.io/en/latest/feature/customop.html

[2017-05-04 02:11] sjr113 commented on #178
Thanks very much...my problem has been solved with the help of this tutorial ^_^

[2017-05-04 02:19] sjr113 commented on #178
Thanks for your quick reply~
My problem has been solved with the help of this tutorial~ thanks so much for your kind help~

Best wishes

11521050@zju.edu.cn

From: Yutian Li
Date: 2017-05-03 14:57
To: dmlc/minpy
CC: Jiangrong Shen; Author
Subject: Re: [dmlc/minpy] How to specify a function's gradient function defined by users just like 'Autograd' ? (#178)
Please refer to this tutorial
https://minp

[2017-05-25 15:42] #178 closed

[2017-05-25 18:02] HrWangChengdu commented on #169
@GaiYu0 I guess this issue is fixed right?

[2017-05-25 18:03] HrWangChengdu commented on #170
@GaiYu0 This should be closed?

[2017-05-25 18:17] #129 closed

[2017-05-25 18:33] HrWangChengdu commented on #176
@rai16 The parameters are initialized by solver.init() like https://github.com/dmlc/minpy/blob/master/examples/nn/cnn.py#L94.

So, to use the saved parameters, one solution is to replace the parameters after the parameter is initialized and before the training starts. Say, I want to replace `w1` by the saved parameter `w1_saved`, I could insert `solver.model.params['w1']=w1_saved` between `solver.

[2017-05-25 20:09] HrWangChengdu commented on #173
The fundamental reason for the `customop` wrapper, I think, is some operations are not defined in GPU.

Say, I have a function using some operations defined only in CPU. Without the `customop` hint, the input data could be stored in GPU before the invocation. However, in execution, the intermediate data is copied from GPU to CPU in order to run the cpu-defined op, which hurts the performance and i

[2017-05-25 21:05] HrWangChengdu commented on #172
Thank you and sorry for the late response. It's corrected now.

[2017-05-25 21:05] #172 closed

[2017-05-25 21:23] HrWangChengdu commented on #156
This relates to the argmax implementation of MXNet. In short, `axis`  as NULL is not supported yet.

The documentation of mxnet, http://mxnet.io/api/python/ndarray.html#mxnet.ndarray.argmax, says

[2017-05-25 21:23] #156 closed

[2017-05-25 22:11] GaiYu0 commented on #169
I think the issue has been fixed.

[2017-05-25 22:11] #169 closed

[2017-05-25 22:12] GaiYu0 commented on #170
I agree. Let me close the issue.

[2017-05-25 22:12] #170 closed

[2017-05-31 21:14] HrWangChengdu commented on #119
@lryta Should I close this?

[2017-05-31 21:35] HrWangChengdu commented on #138
It seems that documentation is already updated.

[2017-05-31 21:35] #138 closed

[2017-05-31 21:36] #119 closed

[2017-05-31 21:36] lryta commented on #119
@HrWangChengdu Thanks!

[2017-05-31 21:36] #24 closed

[2017-05-31 22:13] HrWangChengdu commented on #165
@lryta Any follow-up on this one?

[2017-05-31 22:24] HrWangChengdu commented on #154
@ZihengJiang Any follow-up on this?

[2017-05-31 23:03] HrWangChengdu commented on #151
@chenyang-tao Sorry for the delay. Can you add the complete code snippet? like the definition of `init_params` and `grad_J`. I've made a similar example and run for many times. The obsolete copy thing doesn't happen in my case

[2017-05-31 23:21] HrWangChengdu commented on #177
@GerrieWell Could you try the latest minpy version by  `sudo pip install minpy --upgrade`? The minpy/__init__.py file has been changed since the issue.

[2017-06-01 02:06] GerrieWell commented on #177
Yes . I've solved it .

[2017-06-01 02:06] #177 closed

[2017-06-12 22:58] kkweon opened #180 "MNIST Solver cannot check accuracy when y is onehot encoded"
## Setup
* Ubuntu 16.04
* MXNet (ver 0.10.0)
* Minpy (ver 0.3.4)

## What I was trying to do
* Run MNIST but with `y_onehot`
  * X.shape = (n, 784)
  * y.shape = (n, 10)
* Then I get the following message
  * It seems accuracy step cannot be performed due to wrong shape because it expects `y.shape`  to be `(n,)` instead
[code]
## If I run without onehot_encoded
* It works fine but I get a bunch of

[2017-06-12 23:09] kkweon commented on #180
In [code: solver.check_accuracy](https://github.com/dmlc/minpy/blob/master/minpy/nn/solver.py#L197)

it doesn't check `each_batch.label` is onehot encoded
[code]
but `minpy.nn.layers.softmax_loss` can take either onehot(N, C) or labels (N,)

[2017-08-14 11:42] entron opened #181 "reverse indexing does not work"
For example sum and expand_dim does not support reverse indexing of the axis parameter.

[2017-10-18 23:26] samuel-davis commented on #163
Where is this build branch it appears to be gone.

[2018-01-25 01:21] mengyuest opened #182 "Cannot find 'engine' branch for minpy package"
I want to use GPU on numpy opers so I tried minpy. The system is ubuntu16.04 and my display card is GTX1080 (cudnn 7.0). When I installed mxnet, I could not find "engine" branch mentioned in instruction step ```git clone --recursive -b engine https://github.com/dmlc/mxnet.git```
So I just installed the master branch one and at last I could not use minpy correctly. My program wrote as
[code]
and wh

[2018-01-25 01:38] jekbradbury commented on #182
`minpy` is not being actively maintained. for numpy operations on GPU, maybe try [cupy](https://github.com/cupy/cupy)?

[2018-01-25 02:03] jermainewang commented on #182
Hi @mengyuest , most minpy's functionality have been merged to [Gluon](http://gluon.mxnet.io/). It supports dynamic autograd and quite extensive numpy operator support. Please have a look and see if it helps!

[2018-01-25 04:55] mengyuest commented on #182
Great! Thanks~

[2018-01-25 04:55] #182 closed

[2018-05-07 14:53] itsd3 opened #183 "numpy.linalg missing"
Hi,

Just started using minpy. Very good library so far. Just wondering if you guys are going to support numpy.linalg? Two most important functions there are probably .solve and .inv, for matrix inversions. Hard to do any serious matrix maths without those two available.

Thanks

[2018-06-14 06:06] zfk513 opened #184 "Try to convert numpy code ,failed,Help!!!"
in numpy it works fine, but just slow ,guess owing to single thread
  so i convert to minpy,but occur obstacle:
mu = np.mean(dataset, axis=0)
  File "C:\Users\lake zhang\AppData\Local\Programs\Python\Python36\lib\site-packages\minpy\primitive.py", line 141, in __call__
    return self.call(args, kwargs)
  File "C:\Users\lake zhang\AppData\Local\Programs\Python\Python36\lib\site-packages\minpy\prim

[2018-07-07 13:27] taichu012 opened #185 "minpy doesn't support astype function！！！"
It maybe change item dtype of ndarray while producing data. for example, if producing image, input is dtype=int, and array need be updated by some aglothims several times and then array are dtype = float32, after that we need to save image back to disk, so we need array of image with dtype=int AGAIN! but minpy DOESN'T SUPPORT 'ASTYPE‘ function which REAL NUMPY support， it really basic， please add

[2018-10-29 09:09] hustsunjiayu commented on #184
think you must show how the 'dataset' comes. I just tested the minpy.numpy.mean function in my PC and it has no problem

[2018-11-12 13:31] AMSSwanglab opened #186 "How to use np.where"
I want to find the positions of a array that its value is 1.
I use **np.where(w==1)**, but there is an error:
![_20181112213012](https://user-images.githubusercontent.com/44538141/48350446-301c3900-e6c2-11e8-8895-45b2949b2931.png)
Does anyone knows why?

[2018-11-12 14:00] #186 closed, assigned to nobody

[2018-12-13 02:17] LowinLi commented on #186
i have this problem too

[2018-12-21 11:44] MillPopulus opened #187 "minpy.numpy.array dose not support len()"
[code]
results in
[code]

I use minpy installed by pip3

[2019-03-03 08:52] whitelok opened #188 "np.where has not the same usage as numpy"
File "/usr/local/lib/python3.6/dist-packages/minpy/primitive.py", line 141, in __call__
    return self.call(args, kwargs)
  File "/usr/local/lib/python3.6/dist-packages/minpy/primitive.py", line 238, in call
    result_value = self._func(*arg_values, **kwarg_values)
  File "<string>", line 62, in where
  File "/usr/local/lib/python3.6/dist-packages/mxnet/_ctypes/ndarray.py", line 92, in _imperati

[2019-07-31 05:39] Grayscale-cc opened #189 "cannot use minpy.numpy.newaxis?"
import minpy.numpy as np
a = np.zeros((3,3))
b = a[:, :, np.newaxis]

The following error occurred when I executed the above code:
    b = a[:, :, np.newaxis]
  File "/home/ai/anaconda3/envs/mask/lib/python3.6/site-packages/minpy/array.py", line 440, in __getitem__
    np_index = tuple(_make_numpy_index(i) for i in index)
  File "/home/ai/anaconda3/envs/mask/lib/python3.6/site-packages/minpy/array

[2019-08-02 06:01] RITStangzhongliang opened #190 "concatenate throw exception "Operator _copyto inferring shapes failed." when input array is empty"
### Environment
Python 3.7.3 (default, Mar 27 2019, 22:11:17)
[GCC 7.3.0] :: Anaconda, Inc. on linux

minpy                             0.3.4
mxnet-cu90                    1.5.0
### Error line:
[code]
### Exception:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/root/anaconda3/envs/bosch_py37/lib/python3.7/site-packages/minpy/primitive.py", line 141, in __call__